<section class="footer">
    <footer >
        <div class="footer">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="">
                Descargar CV
               </button>
               <a href="#top"><button type="submit" class="btn btn-close-white"><i class="fa-solid fa-arrow-turn-up"></i></button></a>
       
        <div class="w3-section">
           
            <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> Tucumán, Argentina</p>
            <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +54 3814466079</p>
            <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: madepato3@gmail.com</p>
          </div>
        </div>
    </footer> 
    </section>
