<section id="navegacion">
    <nav class="navbar navbar-expand-sm" >
        <div class="container-fluid">
          <a class="navbar-brand" href="#"> <img src="./assets/imagenes/arg.programa.png" alt="" width="160vh" ></a>
                   
          <ul class="list-group list-group-horizontal " style="list-style: none">
               
            <li class="lit-group-item p-2" ><a href="https://api.whatsapp.com/send?phone=543814466079"><i class="fa-brands fa-lg fa-whatsapp fa-2x1"></i> </a>  </li>
            <li class="lit-group-item p-2"><a href="http://linkedin.com/in/patricia-cayo-00a86980" target="_blanK"><i class="fa-brands fa-linkedin fa-lg fa-2x1"></i>  </a> </li>
            <li class="lit-group-item p-2"> <a href="http://facebook.com/pcayo1" target="_blanK"><i class="fa-brands fa-facebook fa-lg fa-2x1"></i>  </a> </li>
            <li class="lit-group-item p-2"> <a href="https://github.com/mp1214" target="_blanK"><i class="fa-brands fa-github fa-lg fa-2x1"></i>  </a> </li>
            
            <app-botonlogout></app-botonlogout>
           
            
        </ul>
         
        </div>
      </nav>
    
</section> 
