<div class="modal fade" id="exampleModal-letras-efectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Texto Efecto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
            <div class="col-10">
              <div *ngIf="mje === 'quitar'" class="lista-estudio">
                <h5 class="form text-center mb-3">Quitar titulo con efecto</h5>
              
                <ul *ngFor="let letras of efecto" style="list-style:none">
                
                <li type="button" class="efecto" (click)="borrar(letras.id)">{{letras.tituloEfecto}}
                  <i class="fa-solid fa-xmark"
                  [ngStyle]="{'color':'red'}"
                  ></i>
                </li>
              </ul>
             
              </div>
              <div class="mb-3">
                <div *ngIf="mje === 'editar'">
                  <h5 class="form text-center mb-3">Editar Titulo con efecto</h5>
                 <div *ngFor="let letras of efecto" style="list-style:none">
                  <ul>
                     <li type="button" class="efecto"(click)="cargarDetalle(letras.id)" >{{letras.tituloEfecto}}
                      <i class="fa-solid fa-pen"
                      [ngStyle]="{'color':'green'}"
                      
                      ></i>
                    </li>
                  </ul>
                 
                </div>
                <div *ngIf="efectosList">
                <form (ngSubmit)="OnUpdate(efectosList.id)" novalidate #f="ngForm">
                  <div class="mb-3">
                    <label id="estudio-curso" for="number" class="label">Titulo</label>
                    <input type="text" class="form-control" id="estudio-curso" aria-describedby="fortalezaHelp" id="titulo" name="titulo" [(ngModel)]="efectosList.tituloEfecto">
                   </div>
                  <button type="submit" class="btn btn-primary container-fluid mt-3">Guardar Cambios</button>
            </form>
          </div>
            
              </div>
            <div class="col-1">

          </div>
        </div>
      </div>
    
    </div>
  </div>
</div>
  
  <!--modal letras con efectos
  
    <div class="modal fade" id="exampleModal-letras-efectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <h1> Texto con efecto</h1>
        <div class="container modal-dialog">
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
          <h2 id="title">Quitar Texto </h2>
         
            <h3 class="fortDebil">{{efectosList.titulo}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </h3>
            
        
         
        </div>

            <div *ngIf="mje === 'agregar'" class="lista-fortalezaDebilidad modal-content">
              <h2 id="title">Agregar Texto</h2>
              <label id="number-label" for="number">Cambiar texto</label>
                <input type="text" name="texto" />
            
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>

    </div>-->
