/*modales del dashboard*/

  .estudio{
    background: #f4f4f4;
    margin: 5px;
    padding: 1vh 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2vh;
}
p.error{
  color:red;
}
  .modal-dialog{
    max-width: 50rem;
  }

ul{
 
    padding-left: 0;
  
}


