  <!-- Modal estudios-->
  <div>
    <div class="modal fade" id="exampleModal-estudios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"style="overflow-y:auto" >
      
        <div class="container modal-dialog">
          <h1 id="title" style="text-decoration:underline;">Formulario </h1>
          <app-estudios></app-estudios>
          <p id="description">Agregar Estudios</p>
          <div class="imagen modal-content">
            <label id="estudio-curso" for="number">Titulo</label>
            <input type="text" name="estudio-curso" />
            <label>Fecha en que fue realizado:</label>
            <label> Inicio</label>
            <input type="date" name="fecha1" id="fecha1"/>
            <label>Fin</label>
            <input type="date" name="fecha2"id="fecha2" />
            <label><input type="checkbox">En curso</label>
            <label id="number-label" for="number">Institución</label>
            <input type="text" name="institucion" />
          </div>
       
               
            <div class="form-group">
            <button class="boton" type="submit" id="submit">
              Guardar
              </button>
            </div>
          </div>
          </div>
        </div>
      

