<section class="experience proyecto" id="xp">
<div class="row ">
<div class="col-1"></div>
    <div class="col-10">
    <h2 class="titulo" >Proyectos</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xs-1 g-4 ">
      <li *ngFor="let proyecto of proyectos" class="list-group">
      <div class="col">
        <div class="card text-center">
          <h3 class="text-center">{{proyecto.proyecto}}</h3><br>
          <h4 class="text-center">Fecha de terminación {{proyecto.fecha}}</h4>
          <img [src]="proyecto.img" class="card-img-top" alt={{proyecto.proyecto}}>
          <br>
          <div class="experience__description">
            <!-- Pon el enlace del proyecto en Github o GithubPages -->
                <span class="experience__repo"><a href={{proyecto.repositorio}} target="_blanK"><button class="experiencia__botao--repo">Repositorio</button></a></span>
                <span class="experience__demo">  <a class="enlace" [href]="proyecto.path" target="_blanK"><button class="experiencia__botao--repo">Jugar</button></a></span>
        
              </div>
              <br>
        </div>
        
      </div>
      
  </li>
  </div>

</div>
<div class="col-1"></div>
</div>
</section>
