<section >  
    <div class="contenedor"> 
        <div class="row p-4">
            <div class="col-md-6">
                <app-acercade-mi></app-acercade-mi>
            </div>
          
        <div class="col-md-6">
            <app-tarjeta-fortalezas></app-tarjeta-fortalezas>
         </div>    
             <!--   
                  <ul class="acercadeMi" >
                    <li>Mis fortalezas el ingenio y la constancia.</li>
                    <li>Mis debilidades la integridad y la nobleza.</li>
                </ul>-->
        </div>
    </div>
</section> 

