/*modales del dashboard*/
.modal.fade {
    box-sizing: border-box;
    height: 300vh;
     
  }
  .imagen.modal-content{
    background-color: rgba(233, 233, 243, 0.341);
    padding: 2vh 2vh 2vh 2vh;
  }
  
  
 
  .modal-dialog{
    max-width: 50rem;
  }
  .fortDebil{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 
  .textarea{
    border: none;
    width: 100%;
  margin-bottom: 2%;
    
  }
  input,select,.textarea {
    margin: 1,5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    
  }
  
 
  

  .container{
    max-width: 600px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid #8e6ca4;
    padding: 20px;
    border-radius: 5px;
    
}
  
  #title {
    text-align: center;
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
  }
 


 
  
 

  