<div>
    <div class="modal fade" id="exampleModal-acercademi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
            <h1 id="title">Acerca de Mi</h1>
            <div class="contenedor">
              <p>{{descripcion}}</p>
          
            </div>
            <p id="description">Agregar Información</p>
            <div class="textarea modal-content">
              
                <textarea name="acercedemi" id="acercedemi" cols="70" rows="13"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
       
        
      </div>
      </div>
    </div>
