
.banner{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 850px;
    display: block;
    }
    
 h2{
      font-weight: 500;
      margin-left: 200px;
      color: #f9f1f9;
      font-size: calc(2.5*1.5vw);
     }
    .banner h2 {
      color: #f7f1f7;
      font-weight: bold;
      
    }
   
    @media screen and (max-width:375px) {
      h2{
        margin-left: 35px;
        
        font-size: 30px;

    }
    }

    @media screen and (min-width:601px) and (max-width: 800px) {
      .banner{
        margin-top: 1vh;  
        background-size:cover;
        background-repeat: no-repeat;
        min-height: 200px;
        max-height: 350px;
              
        }
    }

