.banner{
    margin-top: 1vh;  
    
    /*background-image: url(/assets/imagenes/banner-marmolado.jpg);*/
    
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 300px;
    height: 980px;
   
    
    }
   
    .all{
      position: relative;
    
    
    }
    /*imagen pato*/
   h2{
      font-size: 6vh;
      font-weight: 500;
      margin-left: 3rem;
      font-family:fantasy cursive;
      color: #f9f1f9;
     }
    .banner h2 {
      color: #f7f1f7;
      font-weight: bold;
      font-family: Brush Script MT;
     
    }
   button{
        margin-left: 40vh;
        margin-top: 0vh;
    }
  

    @media screen and (min-width:601px) and (max-width: 800px) {
      button {
        margin-left: 15vh ;
        
      }
      .banner{

        margin-top: 1vh;  
        background-size:cover;
        background-repeat: no-repeat;
        min-height: 200px;
        max-height: 300px;
              
        }
    }
    @media screen and (min-width:201px) and (max-width: 600px) {
      .banner{
   margin-top: 1vh;  
   background-size:cover;
   background-repeat: no-repeat;
   min-height: 150px;
   max-height: 250px;
         
   }
   @media screen and (min-width:801) {
    .banner{
 margin-top: 1vh;  
 background-size:cover;
 background-repeat: no-repeat;

       
 }
}
}
