.banner{
    margin-top: 1vh;  
     border-radius: 3%;
    /*background-image: url(/assets/imagenes/banner-marmolado.jpg);*/
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    width:100% ;
    z-index:1000;
    
    }
   
    .all{
      position: relative;
    
    
    }
    /*imagen pato*/
   h2{
      font-size: 6vh;
      font-weight: 500;
      margin-left: 3rem;
      font-family:fantasy cursive;
      color: #f9f1f9;
     }
    .banner h2 {
      color: #f7f1f7;
      font-weight: bold;
      font-family: Brush Script MT;
     
    }
   button{
        margin-left: 40vh;
        margin-top: 0vh;
    }
    @media screen and (max-width: 600px) {
      button {
        margin-left: 15vh ;
        
      }
    }
   
