  <!--tarjeta doble-->
  <div id="tarjFortaleza" class="tarjeta">
        <div  class="flip-card" >
        <div class="flip-card-inner">
          <div class="flip-card-front" id="tarjFortaleza">
            <h1>Fortalezas</h1> 
          <ul *ngFor="let fortaleza of fortalezas" style="list-style:none">
                 
            <li>{{fortaleza.fortaleza}}
             
            </li>
            
          </ul>
        </div>
        <div class="flip-card-back" id="tarjFortaleza">
          <h1>Debilidades</h1> 
        <ul *ngFor="let debilidad of debilidades" style="list-style:none">
               
          <li>{{debilidad.debilidad}}
           
          </li>
          
        </ul>
      </div>
          </div>
     </div>  
     </div> 
