  <!--tarjeta doble-->
  <div id="tarjFortaleza" class="tarjeta">
        <div  class="flip-card" >
        <div class="flip-card-inner">
        
            <div  class="flip-card-front" id="tarjFortaleza">
                <h1>Fortalezas</h1> <br>
             <h3>{{fortalezas}}</h3>
              
            </div>
            <div class="flip-card-back" id="tarjFortaleza">
              <h1>Debilidades</h1><br> 
              <h3>{{debilidades}}</h3>
              
            
            </div>
          </div>
     </div>  
     </div> 
