<div class="letras-moviendose">
                       
    <svg viewBox="0 0 2510 500">
      <symbol id="s-text">
        <text text-anchor="middle" x="35%" y="80%">{{efecto.tituloEfecto}}</text>
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
    </div>
