<div class="letras-moviendose">
                       
    <svg viewBox="0 0 1300 400">
      <symbol id="s-text">
        <text text-anchor="middle" x="40%" y="80%">{{efecto.tituloEfecto}}</text>
      </symbol>
  
      <g class = "g-ants">
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
        <use xlink:href="#s-text" class="text-copy"></use>
      </g>
    </svg>
    </div>
