/*letras movimiento*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);


.letras-moviendose{
  display: flex;
  
}

svg {
    display:block;
    block-size: auto;
    font: 8.5em 'Montserrat';
    width: 80%;
    margin: 0 auto;
   
}

.text-copy {
    fill: none;
    stroke: rgb(248, 241, 241);
    stroke-dasharray: 6% 29%;
    stroke-width: 0.3rem;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #030002;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #070107;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #0a010a;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #010009;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #070109;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
@media screen and (max-width: 600px) {
  .letras-moviendose{
    margin-left: 10vh ;
    
  }
}