 /*modales del dashboard*/
  .experiencia{
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .modal-dialog{
    max-width: 50rem;
  }
 
.label-fecha{
  margin: 2% 0;
}
.input-date{
  width: 60%;
}

  .lista-fortalezaDebilidad{
    border:1px solid #8e6ca4;
    margin: 1vh 1vh;
    border-radius: 1vh;
    width: 99%;
    padding: 2%;
  }
