<div class="modal fade" id="exampleModal-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Experiencia</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
           
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'">
                <h5 class="text-center">Quitar Experiencia</h5>
                <ul  *ngFor="let experiencia of expe">
                 <li type="button" class="experiencia" (click)="borrar(experiencia.id)">
             
                  {{experiencia.empresa}}
                  <br>
                  {{experiencia.descripcion}}
                  <br>
                  {{experiencia.inicio}}   {{experiencia.fin}}
                  <i class="fa-solid fa-xmark"
                  [ngStyle]="{'color':'red'}"
                  ></i>
                </li> 
                 
                 </ul>
                 </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Experiencia</h5>
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)" novalidate >
                  <div class="mb-3">
                    <label id="cargo" for="number">Puesto</label>
                    <input type="text" id="cargo" class="form-control" formControlName="cargo" name="cargo" [(ngModel)]="cargo"
                    [ngClass]="{'is-invalid': Cargo.errors && Cargo.touched, 'is-valid':!Cargo.errors && Cargo.touched}">
                    <div *ngIf="Cargo.errors  && Cargo.touched">    
                      <p *ngIf="Cargo.hasError('required')" class="text-danger">
                          El titulo del estudio es requerido.
                      </p>
                      <p *ngIf="Cargo?.errors?.minlength" class="error">
                            El Cargo debe tener como mínimo 3 caracteres.
                          </p>
                      <p *ngIf="Cargo?.errors?.maxlength" class="error">
                            El Cargo debe tener como maximo 25 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Empresa</label>
                    <input type="text" class="form-control" formControlName="empresa" id="empresa" name="empresa" [(ngModel)]="empresa"
                    [ngClass]="{'is-invalid': Empresa.errors && Empresa.touched, 'is-valid':!Empresa.errors && Empresa.touched}">
                    <div *ngIf="Empresa.errors  && Empresa.touched">    
                      <p *ngIf="Empresa.hasError('required')" class="text-danger">
                          El nombre de la empresa es requerido.
                      </p>
                      <p *ngIf="Empresa?.errors?.minlength" class="error">
                            El nombre de la empresa debe tener como mínimo 3 caracteres.
                          </p>
                      <p *ngIf="Empresa?.errors?.maxlength" class="error">
                        El nombre de la empresa debe tener como maximo 25 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Descripcion del puesto</label>
                    <textarea type="text" class="form-control" formControlName="descripcion" name="descripcion" [(ngModel)]="descripcion"
                    [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid':!Descripcion.errors && Descripcion.touched}"></textarea>
                    <div *ngIf="Descripcion.errors  && Descripcion.touched">    
                      <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                          La descripcion del cargo es requerido.
                      </p>
                      <p *ngIf="Descripcion?.errors?.minlength" class="error">
                            La descripcion del cargo debe tener como mínimo 10 caracteres.
                          </p>
                      <p *ngIf="Descripcion?.errors?.maxlength" class="error">
                        La descripcion del cargo debe tener como maximo 350 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Fecha en la que trabajo:</label>
                    <br><label class="label-fecha">Fecha Inicio</label>
                    <input type="date" class="form-control input-date" formControlName="inicio" name="inicio" [(ngModel)]="inicio"
                    [ngClass]="{'is-invalid': Inicio.errors && Inicio.touched, 'is-valid':!Inicio.errors && Inicio.touched}">
                    <div *ngIf="Inicio.errors  && Inicio.touched">    
                      <p *ngIf="Inicio.hasError('required')" class="text-danger">
                          La fecha de inicio del estudio es requerida.
                      </p>
                     <p *ngIf="Inicio?.errors?.maxlength" class="error">
                            la fecha debe tener como maximo 8 numeros.
                      </p>
                    </div>
                    <label class="label-fecha">Fecha Fin</label>
                    <input type="date" class="form-control input-date" formControlName="fin" name="fin" [(ngModel)]="fin"
                    [ngClass]="{'is-invalid': Fin.errors && Fin.touched, 'is-valid':!Fin.errors && Fin.touched}">
                    <div *ngIf="Fin.errors  && Fin.touched">    
                      <p *ngIf="Fin.hasError('required')" class="text-danger">
                          La fecha de inicio del estudio es requerida.
                      </p>
                     <p *ngIf="Fin?.errors?.maxlength" class="error">
                            la fecha debe tener como maximo 8 numeros.
                      </p>
                    </div>
                    <label class="label-fecha"><input type="checkbox" formControlName="es_trabajo_actual"  name="es_trabajo_actual" (change)="isDisabled(expression)"  [(ngModel)]="es_trabajo_actual">Actualmente trabajo aquí</label>
                    <div class="mb-3">
                    <label class="label-fecha"> Imagen de Empresa</label>
                    <input type="file" class="form-control mb-4"  formControlName="imgE" name="imgE" [(ngModel)]="imgE" (change)="uploadImage($event)">
                    <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                    <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                <button type="submit" class="btn btn-dark container-fluid mt-3"  (click)="Limpiar();" >Limpiar</button>
          
              </form>
              </div>
              <div *ngIf="mje === 'editar'">
                 <h5 class="form text-center mb-3">Editar Experiencia</h5>
                 <div *ngFor="let experiencia of expe" style="list-style:none">
                  <ul>
                     <li type="button" class="experiencia" (click)="cargarDetalle(experiencia.id)" >{{experiencia.cargo}}
                      <i class="fa-solid fa-pen"
                      [ngStyle]="{'color':'green'}"
                      ></i>
                    </li>
                  </ul>
                </div>
                <div *ngIf="experiencia">
                <h5 class="form text-center">Modificar Experiencia</h5>
                <form  [formGroup]="form" (ngSubmit)="OnUpdate(experiencia.id)" novalidate >
                  <div class="mb-3">
                    <label id="fortaleza" for="number">Cargo</label>
                    <input type="text" class="form-control" name="cargo"  formControlName="cargo" [(ngModel)]="experiencia.cargo" 
                    [ngClass]="{'is-invalid': Cargo.errors && Cargo.touched, 'is-valid':!Cargo.errors && Cargo.touched}">
                    <div *ngIf="Cargo.errors  && Cargo.touched">    
                      <p *ngIf="Cargo.hasError('required')" class="text-danger">
                          El titulo del estudio es requerido.
                      </p>
                      <p *ngIf="Cargo?.errors?.minlength" class="error">
                            El Cargo debe tener como mínimo 3 caracteres.
                          </p>
                      <p *ngIf="Cargo?.errors?.maxlength" class="error">
                            El Cargo debe tener como maximo 25 caracteres.
                      </p>
                    </div>

                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Empresa</label>
                    <input type="text" class="form-control"  name="empresa" formControlName="empresa" [(ngModel)]="experiencia.empresa"
                    [ngClass]="{'is-invalid': Empresa.errors && Empresa.touched, 'is-valid':!Empresa.errors && Empresa.touched}">
                    <div *ngIf="Empresa.errors  && Empresa.touched">    
                      <p *ngIf="Empresa.hasError('required')" class="text-danger">
                          El nombre de la empresa es requerido.
                      </p>
                      <p *ngIf="Empresa?.errors?.minlength" class="error">
                            El nombre de la empresa debe tener como mínimo 3 caracteres.
                          </p>
                      <p *ngIf="Empresa?.errors?.maxlength" class="error">
                        El nombre de la empresa debe tener como maximo 25 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Descripcion del puesto</label>
                    <textarea type="text" class="form-control"  name="descripcion" formControlName="descripcion" [(ngModel)]="experiencia.descripcion"
                    [ngClass]="{'is-invalid': Descripcion.errors && Descripcion.touched, 'is-valid':!Descripcion.errors && Descripcion.touched}"></textarea>
                    <div *ngIf="Descripcion.errors  && Descripcion.touched">    
                      <p *ngIf="Descripcion.hasError('required')" class="text-danger">
                          La descripcion del cargo es requerido.
                      </p>
                      <p *ngIf="Descripcion?.errors?.minlength" class="error">
                            La descripcion del cargo debe tener como mínimo 10 caracteres.
                          </p>
                      <p *ngIf="Descripcion?.errors?.maxlength" class="error">
                        La descripcion del cargo debe tener como maximo 250 caracteres.
                      </p>
                    </div>
                  </div>

                  <div class="mb-3">
                    <label  class="form-label">Fecha en la que trabajo:</label>
                    <br><label class="label-fecha">Fecha Inicio</label>
                    <input type="date" class="form-control input-date" name="inicio" formControlName="inicio" [(ngModel)]="experiencia.inicio" 
                    [ngClass]="{'is-invalid': Inicio.errors && Inicio.touched, 'is-valid':!Inicio.errors && Inicio.touched}">
                    <div *ngIf="Inicio.errors  && Inicio.touched">    
                      <p *ngIf="Inicio.hasError('required')" class="text-danger">
                          La fecha de inicio del estudio es requerida.
                      </p>
                     <p *ngIf="Inicio?.errors?.maxlength" class="error">
                            la fecha debe tener como maximo 8 numeros.
                      </p>
                    </div>
                    
                    <label class="label-fecha">Fecha Fin</label>
                    
                    <input type="date" class="form-control input-date"  name="fin" formControlName="fin" [(ngModel)]="experiencia.fin"
                    [ngClass]="{'is-invalid': Fin.errors && Fin.touched, 'is-valid':!Fin.errors && Fin.touched}">
                    <div *ngIf="Fin.errors  && Fin.touched">    
                      <p *ngIf="Fin.hasError('required')" class="text-danger">
                          La fecha de inicio del estudio es requerida.
                      </p>
                     <p *ngIf="Fin?.errors?.maxlength" class="error">
                            la fecha debe tener como maximo 8 numeros.
                      </p>
                    
                    </div>
                    <label class="label-fecha"><input type="checkbox"  name="es_trabajo_actual" formControlName="es_trabajo_actual" (change)="isDisabled(expression)" [(ngModel)]="experiencia.esTrabajoActual">Actualmente trabajo aquí</label>
                    <br>
                    <label class="label">Url de la Imagen actual Empresa</label>
                    <!--   <input type="text" class="form-control mb-4" formControlName="icono" name="icono" [(ngModel)]="edu.icono" readonly onmousedown="return false;">-->
                    <div class="form-floating">
                     <textarea class="form-control mb-3"  style="height: 100px" formControlName="imgE" name="imgE" [(ngModel)]="experiencia.imgE" readonly onmousedown="return false;"></textarea>
                    </div>
                    <div class="mb-3">
                    <label class="label-fecha"> Imagen de Empresa</label>
                    <input type="file" class="form-control mb-4" formControlName="imgE" id="imgE" [(ngModel)]="experiencia.imgE" name="imgE"(change)="uploadImageEdit($event)"  >
                    <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                    <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                    </div>

                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                </div>
              </form>
            </div>
              </div>
            
          <div class="col-1"></div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

 <!--modal trabajo
 <div>
    <div class="modal fade" id="exampleModal-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1>Experiencias</h1>
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
            <h2>Quitar Experiencias</h2>
          <ul *ngFor="let experiencia of experiencias" style="list-style:none">
           
            <li  class="experiencia">
             
              {{experiencia.empresa}}
              <br>
              {{experiencia.descripcion}}
              <br>
              {{experiencia.inicio}}   {{experiencia.fin}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </li>
            
          </ul>
          </div>
        
         
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2>Agregar Experiencia</h2>
              <label id="puesto-trabajo" for="number">Puesto</label>
              <input type="text" name="puesto-trabajo" />
              <label id="empresa" for="number">Empresa</label>
              <input type="text" name="empresa" />
              <label>Fecha en la que trabajo:</label>
              <label> Inicio</label>
              <input type="date" name="fecha1" id="fecha1"/>
              <label>Fin</label>
              <input type="date" name="fecha2"id="fecha2" />
              <label><input type="checkbox">Actualmente trabajo aquí</label>
             </div>

         
          <div class="form-group">
            <button type="submit" id="submit">
              Guardar
            </button>
       </div>
      </div>
          
            </div>
         
        </div>-->
       
     
