 <!--modal trabajo-->
 <div>
    <div class="modal fade" id="exampleModal-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1>Experiencias</h1>
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
            <h2>Quitar Experiencias</h2>
          <ul *ngFor="let experiencia of experiencias" style="list-style:none">
           
            <li  class="experiencia">
             
              {{experiencia.empresa}}
              <br>
              {{experiencia.descripcion}}
              <br>
              {{experiencia.inicio}}   {{experiencia.fin}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </li>
            
          </ul>
          </div>
        
         
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2>Agregar Experiencia</h2>
              <label id="puesto-trabajo" for="number">Puesto</label>
              <input type="text" name="puesto-trabajo" />
              <label id="empresa" for="number">Empresa</label>
              <input type="text" name="empresa" />
              <label>Fecha en la que trabajo:</label>
              <label> Inicio</label>
              <input type="date" name="fecha1" id="fecha1"/>
              <label>Fin</label>
              <input type="date" name="fecha2"id="fecha2" />
              <label><input type="checkbox">Actualmente trabajo aquí</label>
             </div>

         
          <div class="form-group">
            <button type="submit" id="submit">
              Guardar
            </button>
       </div>
      </div>
          
            </div>
         
        </div>
       
     
