<div class="modal fade" id="exampleModal-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Experiencia</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'">
                <h5 class="text-center">Quitar Experiencia</h5>
                <ul  *ngFor="let experiencia of experiencias">
                 <li  class="experiencia">
             
                  {{experiencia.empresa}}
                  <br>
                  {{experiencia.descripcion}}
                  <br>
                  {{experiencia.inicio}}   {{experiencia.fin}}
                  <i class="fa-solid fa-xmark"
                  [ngStyle]="{'color':'red'}"
                  ></i>
                </li> 
                 
                 </ul>
                </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Experiencia</h5>
                <form>
                  <div class="mb-3">
                    <label id="fortaleza" for="number">Puesto</label>
                    <input type="text" class="form-control" id="fortaleza" aria-describedby="fortalezaHelp">
                    <div id="fortalezaHelp" class="form-text">Ingrese el puesto que posee</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Empresa</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Descripcion del puesto</label>
                    <textarea type="text" class="form-control" id="exampleInputPassword1"></textarea>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Fecha en la que trabajo:</label>
                    <br><label class="label-fecha"> Inicio</label>
                    <input type="date" class="form-control input-date" id="fecha1">
                    <label class="label-fecha"> Fin</label>
                    <input type="date" class="form-control input-date" id="fecha2">
                    <label class="label-fecha"><input type="checkbox">Actualmente trabajo aquí</label>
                  </div>
                
              </form>
              </div>
                <button type="button" (click)="showModal()" class="btn btn-primary container-fluid">Guardar Cambios</button>
            </div>
            </form>
            </div>
          <div class="col-1"></div>
        </div>
      </div>
    
    </div>
  </div>
</div>

 <!--modal trabajo
 <div>
    <div class="modal fade" id="exampleModal-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1>Experiencias</h1>
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
            <h2>Quitar Experiencias</h2>
          <ul *ngFor="let experiencia of experiencias" style="list-style:none">
           
            <li  class="experiencia">
             
              {{experiencia.empresa}}
              <br>
              {{experiencia.descripcion}}
              <br>
              {{experiencia.inicio}}   {{experiencia.fin}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </li>
            
          </ul>
          </div>
        
         
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2>Agregar Experiencia</h2>
              <label id="puesto-trabajo" for="number">Puesto</label>
              <input type="text" name="puesto-trabajo" />
              <label id="empresa" for="number">Empresa</label>
              <input type="text" name="empresa" />
              <label>Fecha en la que trabajo:</label>
              <label> Inicio</label>
              <input type="date" name="fecha1" id="fecha1"/>
              <label>Fin</label>
              <input type="date" name="fecha2"id="fecha2" />
              <label><input type="checkbox">Actualmente trabajo aquí</label>
             </div>

         
          <div class="form-group">
            <button type="submit" id="submit">
              Guardar
            </button>
       </div>
      </div>
          
            </div>
         
        </div>-->
       
     
