.certificados{
  
  background-color: #f6f1f8ea;
 border-color: #0e076b;

 
  padding: 1vh 2vh;
  
}
.carouselExample{
  border-left:3px solid rgb(187, 126, 201) ;
  padding: 1vh 1vh;
  
}


    #carouselExampleDark{
     
     width: 50%;
     margin: auto;
     
    }
    .titulo{
      color: #0e076b;
      
      }
  @media screen and (max-width: 500px) {
    #carouselExampleDark {
      margin: 2vh 1vh ;
      
    }
  }
  