.certificados{
 background-color: #f6f1f8ea;
 border-color: #0e076b;
 background: linear-gradient(300deg,rgb(247, 241, 247),rgba(167, 164, 226, 0.8));
 width: 100%;
 padding: 1vh 1.4vh;
}
.col-10{
  width: 100%;
}
.carousel-item img{
  width: 600px;
}
.carouselExample{
 width: 60%;
 margin: auto;
}
.carousel-inner{
  margin: auto;
    }

.titulo{
  color: #0e076b;
  font-size: 2rem;
  margin: 3vh 4vh;
}

      /*Mobile*/
      @media (max-width: 768px){
       
       .carousel-inner{
         width:90%;
        }
       .carouselExample{
        width: 100%;
       }
      
       .carousel-indicators button{
        width: 20px;
       }
      }
    