
 <div class="certificados">
 <div class="row">
    <div class="col-1"></div>
      <div class="col-10">
        <h2 class="titulo">Mis Certificados</h2>
        <div class="carouselExample">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div   class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleDark" *ngFor="let item of certificados;let index = index;let isFirst = first" [attr.aria-label]="index" [attr.data-bs-slide-to]="index"  
          [ngClass]="isFirst ? 'aria-current true' : 'aria-current'" [ngClass]="isFirst ? 'class active' : 'class'" 
          [ngStyle]="{'background-color': '#0e076b','margin-bottom': '-1vh', 'height':'0.5vh' }"
          ></button>
        </div>
      <div class="carousel-inner">
        <div  class="carousel-item" *ngFor="let item of certificados;let index = index;let isFirst = first" [ngClass]="isFirst ? 'carousel-item active' : 'carousel-item' ">
          <img [src]="item.img" class="d-block w-100 certif"  alt="{{item.titulo}}">
        <br><br>
        </div>
      </div>
    </div>
  </div>
 </div>
 <div class="col-1"></div>
</div>
 </div>
