

    #carouselExampleDark{
    /* margin-top: 7.5vh;*/
      margin: 7vh 5vh ;
      
    }
    .titulo{
      color: #0e076b;
      margin-top: 0%;
      }
  @media screen and (max-width: 500px) {
    #carouselExampleDark {
      margin: 2vh 1vh ;
      
    }
  }
  