
  
   <h1 style="color: #0e076b;">Mis Certificados</h1>
<div class="carrousel">
  
    <section id="carrousel">
    
    <input type="radio" name="position" checked />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
    <input type="radio" name="position" />
   
    <main id="carousel">
      <div *ngFor="let certificado of certificadoList" class="item"  >
         <img [src]="certificado.enlace" width="100%" height="100%" alt="">
      </div>
     <!-- <div class="item"><img [src]="certificadoList.enlace" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/gas.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/argentina-programa.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/egg.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/37.jpg" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/html5css3-parte1.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/html5css3-parte2.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/html5css3-parte3.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/logicaProgramacion-parte31.png" width="100%" height="100%"  ></div>
      <div class="item"><img src="/assets/imagenes/logicaProgramacion1.png" width="100%" height="100%"  ></div>
     -->
</main>
</section>>
</div>
