
   <div class="certificados">
        <div class="row">
          <div class="col-1"></div>
              <div class="col-10">
                <h2 class="titulo">Mis Habilidades</h2>
                     <div class="progress-outer mb-3">
                         <div *ngFor="let skill of habilidades"  >
                             <h4 class="habilidad"> {{skill.habilidad}}</h4>
            
                             <div class="progress mb-4">
                            <img [src]="skill.icono"  alt="" width="30px" height="30px" > 
                            <div class=" progress-value progress-bar progress-bar-success progress-bar-striped active" 
                             [style.width.%]="skill.porcentaje" 
                             [ngStyle]="{'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.7)'}" 
                            >{{skill.porcentaje}}% </div>
                             </div>
           <!-- <div class="progress progress-value">{{skill.porcentaje}}</div>-->
                        </div>    
                    </div>

            </div>
            <div class="col-1"></div>
        </div>
    </div>

