
    <div class="certificados">
    <h1 class="titulo">Mis Habilidades</h1>
    
   <div class="progress-outer">
        <div *ngFor="let skill of skillsList"  >
            <h4 class="habilidad"> {{skill.habilidad}}</h4>
            
            <div class="progress">
                <img [src]="skill.icono"  alt="" width="30rem" height="30rem" > 
            <div class=" progress-value progress-bar progress-bar-success progress-bar-striped active" 
            
            [style.width.%]="skill.porcentaje" 
            [ngStyle]="{'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.7)'}" 
            >{{skill.porcentaje}}% </div>
            </div>
           <!-- <div class="progress progress-value">{{skill.porcentaje}}</div>-->
        </div>    
    </div>

  </div>
   

