<div class="modal fade" id="exampleModal-foto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Administrar Foto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'">
                <h5 class="text-center mb-3">Quitar Imagen</h5>
                <ul >
                <li class="fortDebil"><img [src]="fotoperfil" [ngStyle]="{'width':'15%'}" class="rounded-circle"alt="">
                <i class="fa-solid fa-xmark"
                   
                [ngStyle]="{'color':'red'}"
                
                ></i>
              </li>
              </ul>
                </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center mb-3">Agregar Imagen</h5>
                <form class="mb-3">
                  <form name="imagen-user" type="POST" enctype="multipart/formdata" >
                    <input type="file" name="imagen-user" />
                    </form>
               
              </form>
              </div>
                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
            </div>
            </form>
            </div>
          <div class="col-1"></div>
        </div>
      </div>
    
    </div>
  </div>
</div>

 
 
 <!-- Modal perfil
 <div>
    <div class="modal fade" id="exampleModal-foto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <h1>Administrar Foto </h1>

        <div class="container modal-dialog">
       
        
          <div *ngIf="mje === 'quitar'" class="contenedor">
            <h2> Quitar Foto</h2>
            <div class="perfil" >
          <img [src]="fotoperfil" [ngStyle]="{'width':'15%'}" class="rounded-circle" alt="">
          <i class="fa-solid fa-xmark"
             
          [ngStyle]="{'color':'red'}"
          
          ></i>
        </div>
          </div>

         
              <div *ngIf="mje === 'agregar'" class="imagen modal-content">
                <h2>Agregar Foto de Perfil</h2>
              <label id="imagen-user" for="imagen-user">Cambiar foto</label>
            <form name="imagen-user" type="POST" enctype="multipart/formdata" >
              <input type="file" name="imagen-user" />
              </form>
            
           
            </div>
                 
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
      </div>
    </div>-->
