<div class="modal fade" id="exampleModal-foto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Administrar Foto</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
                <div *ngIf="mje === 'editar'"><!--imagen perfil-->
                <h5 class="text-center mb-3">Modificar Imagen</h5>
                <div *ngFor="let foto of fotos" style="list-style:none">
                <ul >
                <li type="button" class="fortDebil" (click)="cargarDetalle(foto.id)"><img [src]="foto.img" [ngStyle]="{'width':'15%'}" class="rounded-circle"alt="">
                <i class="fa-solid fa-pen"
                   
                [ngStyle]="{'color':'green'}"
                
                ></i>
              </li>
              </ul>
                </div>
              <div *ngIf="fotoperfil">
                <form (ngSubmit)="OnUpdatePerfil(fotoperfil.id)" novalidate #f="ngForm">
                  <div class="mb-3">
                  
                    <label class="label">Foto Perfil</label>
                    <input type="file" class="form-control mb-4" accept="image/*" name="img" [(ngModel)]="fotoperfil.img" (change)="uploadImageEdit($event,'perfil')">
                    <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                     <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                  
                  </div>
                  <button [disabled]="!completed" type="submit" class="btn btn-primary container-fluid mt-3">Guardar Cambios</button>
               </form>
              </div>
            </div>

            <div *ngIf="mje === 'quitar'"><!--Imagen Banner -Uso quitar solo para distinguir el ngif-->
              <h5 class="text-center mb-3">Modificar Imagen de Banner</h5>
              <div *ngFor="let foto of fotos" style="list-style:none">
              <ul >
              <li type="button" class="fortDebil" (click)="cargarDetalle(foto.id)"><img [src]="foto.imgBanner" [ngStyle]="{'width':'50%'}" alt="">
              <i class="fa-solid fa-pen"
                 
              [ngStyle]="{'color':'green'}"
              
              ></i>
            </li>
            </ul>
              </div>
            <div *ngIf="fotoperfil">
              <form (ngSubmit)="OnUpdateBanner(fotoperfil.id)" novalidate #f="ngForm">
                <div class="mb-3">
                
                  <label class="label">Foto Banner</label>
                  <input type="file" class="form-control mb-4" id="img" name="img" accept="image/*" [(ngModel)]="fotoperfil.imgBanner" (change)="uploadImageEdit($event,'banner')">
                  <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                   <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                
                </div>
                <button [disabled]="!completed" type="submit" class="btn btn-primary container-fluid mt-3">Guardar Cambios</button>
             </form>
            </div>
          </div>
           
            </div>
          </div>
          <div class="col-1"></div>
        
      
    
   
  </div>
</div>

 