.modal-body, .modal-title{
    color: #000;
    font-size: 1.4rem;
    
    }
    
   
    .modal-dialog{
        max-width: 50rem;
      }
  
    .modal-header{
        background-color: #FFFF;
        text-align: center;
    }
    .modal-content{
        background-color: rgb(218, 160, 234);
        color: #000;
    }
 
    