.modal-body, .modal-title{
    color: #0e076b;
    font-size: 3vh;
    }
    
    .modal .modal-dialog {
        width: 50%; 
        
    }
    .modal-header{
        background-color: beige;
    }
    .modal-content{
        background-color: rgb(202, 180, 208);
    }
 
    