<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Información Personal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h3>Fecha de nacimiento: 07/07/1983 </h3>
          <br>
          <h3>Dirección: B° san jose 2 manazana A casa n° 3</h3>
          <h3>Tucumán-Argentina</h3>
          <h3>Tel: 3814466079</h3>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Entendido</button>
        </div>
      </div>
    </div>
  </div>
