
   #certificados{
    margin-top: 1vh;
    background-image: url(/assets/imagenes/fondo\ dorado.jpg);
    border-radius: 3%;
    padding-left: 2vh;
    background-repeat: no-repeat;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background-size: cover;
   }