<ul class="list-group list-group-horizontal " style="list-style: none">
               
    <li class="lit-group-item p-2" ><a href="https://api.whatsapp.com/send?phone=543814466079"><i class="fa-brands fa-lg fa-whatsapp fa-2x1"></i> </a>  </li>
    <li class="lit-group-item p-2"><a href="http://linkedin.com/in/patricia-cayo-00a86980" target="_blanK"><i class="fa-brands fa-linkedin fa-lg fa-2x1"></i>  </a> </li>
    <li class="lit-group-item p-2"> <a href="http://facebook.com/pcayo1" target="_blanK"><i class="fa-brands fa-facebook fa-lg fa-2x1"></i>  </a> </li>
    <li class="lit-group-item p-2"> <a href="https://github.com/mp1214" target="_blanK"><i class="fa-brands fa-github fa-lg fa-2x1"></i>  </a> </li>
    
    <i class="fa-solid fa-user-lock fa-2x1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" ></i>
   
    
</ul>
