
.acercademi{
  text-align: justify;
 
  padding-left: 5vh;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}
.titulo{
  margin-top: 11vh;
}
