
.acercademi{
  text-align: justify;
  font-size: 1.5rem; 
  width: 100%;
}
.imagen-pato img{
  border-style:solid;
  border-color: rgba(145, 145, 6, 0.722);
  box-shadow: 6px 6px 5px 2px #8e8e2e;
  width: 15vw;
}
.nombre{
  font-size: 2rem;
}
.imagen-pato{
  width: 100%;
}
h2{
  font-size: 1.3rem;
}
.imagen-pato h2{
  text-align: center;
}
.col-md-7{
  margin: auto;
  padding: 4%;
}

.col-md-5{
  margin: auto;
  text-align: center;
  padding: 0 2%;
}
.contenedor {
  border-radius:10px;
  font-size: 100%;
  color: white;
  background-image: url(/assets/imagenes/pared-negra.png);
  padding-bottom: 2%;
  padding-top: 2%;
  }
 .titulo{
  font-size: 1.8rem;
 }
  @media screen and (max-width: 500px) {
    #acerca_de_mi{
      display: flex;
      flex-direction: column; 
      height: auto;
    }
    .col-md-7,.col-md-5{
	    width: 540px;
    }
    .contenedor{
      padding: 3%;
      text-align: center;
    }
    .imagen-pato img{
      width: 50%;
    }
    }


