<div class="modal fade" id="exampleModal-personal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Información Personal</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'">
                    <h5 class="text-center mb-3">Quitar Información Personal</h5>
                      <h6 class="personal" >Fecha de nacimiento: {{nacimiento}}<i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i> </h6>
                      <h6 class="personal">Provincia: {{provincia}}<i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i></h6>
                      <h6 class="personal">Telefono: {{telefono}}<i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i></h6>
                      <h6 class="personal">E-mail: {{mail}}<i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i></h6>
                      <h6 class="personal">Estado Civil: {{estadoCivil}}<i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i></h6>
                   
                      
                  
              </div>
                
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center mb-3">Agregar Información Personal</h5>
                <form action="./registro_concluido.html">
                  <div class="mb-3">
                    <label id="fnac" for="number">Fecha Nacimiento</label>
                    <input type="date" class="form-control" id="fnac" aria-describedby="fortalezaHelp" required>
                    <div id="fortalezaHelp" class="form-text">Ingrese la habilidad que considera poseer</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Provincia - País</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Telefono</label>
                    <input type="number" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Email</label>
                    <input type="mail" type="email" class="form-control" id="exampleInputPassword1" required>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Estado Civil</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" required>
                  </div>

               
              </form>
              </div>
                <button type="submit" class="btn btn-primary container-fluid mt-3">Guardar Cambios</button>
            </div>
            </form>
            </div>
          <div class="col-1"></div>
        </div>
      </div>
    
    </div>
  </div>
</div>


<!--
<div>
    <div class="modal fade" id="exampleModal-personal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:auto">
      
        <div class="modal-dialog">
          <h1>Información Personal</h1>
          <div *ngIf="mje === 'quitar'" class="container">
            <h2>Quitar datos</h2>
            <h4 class="personal" >Fecha de nacimiento: {{nacimiento}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i> </h4>
            <h4 class="personal">Provincia: {{provincia}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">Telefono: {{telefono}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">E-mail: {{mail}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">Estado Civil: {{estadoCivil}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
          </div>
          
          
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2>Agregar Datos personales</h2>
              <label id="nacimiento" for="number">Fecha Nacimiento</label>
              <input type="date" name="nacimiento" />
              <label id="ubicacion" for="number">Provincia - País </label>
              <input type="text" name="ubicacion" />
              <label id="telefono" for="number">Telefono</label>
              <input type="number" name="telefono" />
              <label id="email" for="number">Email</label>
              <input type="text" name="email" />
              <label id="estadocivil" for="number">Estado Civil</label>
              <input type="text" name="estadocivil" />
             
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      </div>
    </div>-->

