<div>
    <div class="modal fade" id="exampleModal-personal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:auto">
      
        <div class="modal-dialog">
          <h1>Información Personal</h1>
          <div *ngIf="mje === 'quitar'" class="container">
            <h2>Quitar datos</h2>
            <h4 class="personal" >Fecha de nacimiento: {{nacimiento}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i> </h4>
            <h4 class="personal">Provincia: {{provincia}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">Telefono: {{telefono}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">E-mail: {{mail}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
            <h4 class="personal">Estado Civil: {{estadoCivil}}<i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i></h4>
          </div>
          
          
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2>Agregar Datos personales</h2>
              <label id="nacimiento" for="number">Fecha Nacimiento</label>
              <input type="date" name="nacimiento" />
              <label id="ubicacion" for="number">Provincia - País </label>
              <input type="text" name="ubicacion" />
              <label id="telefono" for="number">Telefono</label>
              <input type="number" name="telefono" />
              <label id="email" for="number">Email</label>
              <input type="text" name="email" />
              <label id="estadocivil" for="number">Estado Civil</label>
              <input type="text" name="estadocivil" />
             
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      </div>
    </div>

