<div>
    <div class="modal fade" id="exampleModal-personal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1 id="title">Formulario Información Personal</h1>
          <app-boton-personal></app-boton-personal>
          <p id="description">Agregar Datos personales</p>
          
            <div class="imagen modal-content">
              <label id="nombre" for="number">Nombre</label>
              <input type="text" name="nombre" />
              <label id="direccion" for="number">Direccion</label>
              <input type="text" name="direccion" />
              <label id="email" for="number">Email</label>
              <input type="text" name="email" />
              <label id="telefono" for="number">Telefono</label>
              <input type="text" name="telefono" />
              <label id="ubicacion" for="number">Ubicacion</label>
              <input type="text" name="ubicacion" />
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      </div>
    </div>

