
  .imagen.modal-content{
    background-color: rgba(233, 233, 243, 0.341);
    padding: 2vh 2vh 2vh 2vh;
  }
  .fortDebil{
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
   
}
 
  .modal-dialog{
    max-width: 50rem;
  }
   .lista-fortalezaDebilidad{
    border:1px solid #8e6ca4;
    margin: 1vh 1vh;
    border-radius: 1vh;
  }

  ul{
    padding-left: 0;
  }
  
  