<!-- Modal fortalezas-debilidades-->
<div>
    <div class="modal fade" id="exampleModal-fortalezas-debilidades" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1 id="title" >Formulario </h1>
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
            <h2 class="titulo-fortaleza"> Fortalezas</h2>
          <ul *ngFor="let fortaleza of fortalezas" style="list-style:none">
           
            <li  class="fortDebil">{{fortaleza.fortaleza}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </li>
            
          </ul>
          <h2 class="titulo-debilidad"> Debilidades</h2>
          <ul *ngFor="let debilidad of debilidades" style="list-style:none">
            
            <li class="fortDebil">{{debilidad.debilidad}}
              <i class="fa-solid fa-xmark"
             
              [ngStyle]="{'color':'red'}"
              
              ></i>
             </li>
          </ul>
        </div>
         
          <div *ngIf="mje === 'agregar'" class="container modal-content">
            <h2>Agregar Fortalezas/Debilidades</h2>
            <label id="fortaleza" for="number">Fortalezas</label>
            <input type="text" name="fortaleza" />
            <label id="debilidades" for="number">Debilidades</label>
            <input type="text" name="debilidades" />
        </div>
            <div class="form-group">
              <button class="boton" type="submit" id="submit">
                Guardar
              </button>
              
          
        </div>
      </div>
    </div>
