<div class="estudio">
<div class="row ">
    <div class="col-1"></div>
    <div class="col-8 estudios mt-3">
    <h1 class="title">Estudios</h1>
    <ul class="list-group" style="list-style:none">
        <li *ngFor="let estudio of educacion" class="list-group"> 
            <h2>{{estudio.tipoeducacion}}</h2>
            
            <h2 class="titulo"><img [src]="estudio.icono"  alt="" width="2%">
                {{estudio.titulo}}</h2>
            <h2 class="ml-3"><i>{{estudio.institucion}} ({{estudio.inicio}} | {{estudio.fin}})</i></h2>
            <h2 class="titulo" *ngIf="estudio.cursando">Actualmente Estoy estudiando aquí </h2>
            
        </li>
    </ul>
    </div>
    <div class="col-1"></div>
    <!--<h1>Cursos</h1>
    <ul class="list-group" style="list-style:none">
    <li> <img src="/assets/imagenes/Vector.png"  alt="" height="1.5%" width="1.5%">
    <h2 class="titulo">Programación Web inicial: HTML5- CSS3 - JavaScript - GIT (Oracle-Alura)</h2> </li>
    </ul>
    <h1>Bootcamps</h1>
    <ul class="list-group" style="list-style:none">
    <li> <img src="/assets/imagenes/devops.png"  alt="" height="4.5%" width="4.5%">
    <h2 class="titulo">Devops introducción: GIT - Docker - Kubernetes - Terraform (Instructora: Rossana Suarez)</h2> </li>
    
</ul>  -->  
    </div>
</div>
