
   .estudio{
    background: linear-gradient(300deg,rgb(247, 241, 247),rgba(167, 164, 226, 0.8));
    padding: 1vh 0vh;
    font-size: 100%;
   }
   .card{
    width: 70%;
    padding-top: 6px;
    background-color: transparent;
    /*border: 2px solid #000;*/
    margin: auto;
    background-image: url(/assets/imagenes/pared-blanca.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 0 0  10px rgba(40, 111, 198, 0.7);
    min-height: 300px;
   }
   .card-img-top{
    width: 10vw;
    max-height: 30%;
    margin: auto;
   }
   h4{
    color:#000;
    font-weight: 400;
    font-size: 1.3rem;
    font-family: 'Raleway';
   }
   h3{
    color:#000;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Raleway';
   }
   .card-title{
    color:#000;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: 'Raleway';
   }
   .card-text{
    font-size: 1.1rem;
   }
   p{
    color:#000;
    font-weight: 300;
    font-size: 1.2rem;
    font-family: 'Raleway';
   }
   .fecha{
    font-size: 1.1rem;
   }
.col-10{
    width:100%;
   } 
.titulo {
  color: #0e076b;
  margin: 1vw 4vw;
  font-size: 2rem;
  margin-bottom: 2%;
      }

    @media screen and (max-width:375px) {
      .hobbies__box{
       width: 250px;
         height: 320px;
    }
    .titulo{
      font-size: 2rem;
     }
     .card{
      width: 40%;
      min-height: 150px;
     }
     
    }
    @media screen and (max-width:776px) {
      .card{
        width: 70%;
        min-height: 150px;
       }
    }