
   .estudio{
    background: linear-gradient(300deg,rgb(247, 241, 247),rgba(167, 164, 226, 0.8));
    padding: 1vh 2vh;
   }
   .card{
    width: 80%;
    padding-top: 6px;
    background-color: transparent;
    border: 2px solid #000;
    margin: auto;
    background-image: url(/assets/imagenes/pared-blanca.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    box-shadow: 0 0  10px rgba(40, 111, 198, 0.7);
    min-height: 400px;
   }
   .card-img-top{
    width: 40%;
    max-height: 30%;
    margin: auto;
   }
   h4{
    color:#000;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Raleway';
   }
   h3{
    color:#000;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Raleway';
   }
   .card-title{
    color:#000;
    font-weight: 600;
    font-size: 25px;
    font-family: 'Raleway';
   }
   p{
    color:#000;
    font-weight: 300;
    font-size: 20px;
    font-family: 'Raleway';
   }
.col-10{
    width:100%;
   } 
.titulo {
      color: #0e076b;
      margin: 3vh 4vh;
      font-size: 40px;
      }

    @media screen and (max-width:375px) {
      .hobbies__box{
       width: 250px;
         height: 320px;
    }
    .titulo{
      font-size: 23px;
     }
    }
    @media screen and (max-width:775px) {
      .titulo{
        font-size: 23px;
       }
      }