<div class="estudio">
<div class="estudios m-2">
    
    <h1 class="title">Estudios</h1>
    <ul class="list-group" style="list-style:none">
        <li *ngFor="let estudio of estudiosList" class="list-group"> 
            <h2 style="text-decoration:underline;">{{estudio.tipoeducacion}}</h2>
            
            <h2 class="titulo"><img [src]="estudio.icono"  alt="" width="2%">
                {{estudio.titulo}}</h2>
            <h4 ><i>{{estudio.institucion}} ({{estudio.inicio}}-{{estudio.fin}})</i></h4>
           
            
        </li>
    </ul>
    <!--<h1>Cursos</h1>
    <ul class="list-group" style="list-style:none">
    <li> <img src="/assets/imagenes/Vector.png"  alt="" height="1.5%" width="1.5%">
    <h2 class="titulo">Programación Web inicial: HTML5- CSS3 - JavaScript - GIT (Oracle-Alura)</h2> </li>
    </ul>
    <h1>Bootcamps</h1>
    <ul class="list-group" style="list-style:none">
    <li> <img src="/assets/imagenes/devops.png"  alt="" height="4.5%" width="4.5%">
    <h2 class="titulo">Devops introducción: GIT - Docker - Kubernetes - Terraform (Instructora: Rossana Suarez)</h2> </li>
    
</ul>  -->  
    </div>
</div>
