

  .certif{
margin-top: 2vh;

  }
  .imagen.modal-content{
    background-color: transparent;
    padding: 2vh;
    margin: 1vh 1vh;
  }

  .modal-dialog{
    max-width: 50rem;
  }
  .certificado{
    background: #f4f4f4;
    margin: 5px;
    padding: 1vh 2%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
  }
  .formulario{
    padding: 0 5%;
  }
  
 