<div class="modal fade" id="exampleModal-certificados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="taxt-center">Certificados</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'" >
                  <h5 id="title text-center">Quitar Certificados </h5>
                  <div class="row">
                    <div class="col-sm-4 certif" *ngFor="let certificado of certificados">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title text-center">{{certificado.titulo}}</h5>
                          <div class="contenedor">
                          <img [src]="certificado.img" height="100px" width="150px">
                          <button type="button" class="btn btn-primary container-fluid mt-3" (click)="borrar(certificado.id)">   
                         Quitar
                          </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Certificados</h5>
              <form [formGroup]="form" (ngSubmit)="onEnviar($event)" name="certificadoForm">
                <div class="mb-3">
                  <label id="habilidad" for="titulo">Titulo certificado</label>
                  <input type="text" class="form-control" id="titulo" formControlName="titulo"  [(ngModel)]="titulo"
                  [ngClass]="{'is-invalid': Titulo.errors && Titulo.touched, 'is-valid':!Titulo.errors && Titulo.touched}">
                  <div id="titulo" class="form-text">Ingrese el titulo del certificado que posee</div>
                  <div *ngIf="Titulo.errors  && Titulo.touched">    
                    <p *ngIf="Titulo.hasError('required')" class="text-danger">
                        El titulo del certificado es requerido.
                    </p>
                    <p *ngIf="Titulo?.errors?.minlength
                    " class="error">
                          El titulo debe tener como mínimo 3 caracteres.
                        </p>
                    <p *ngIf="Titulo?.errors?.maxlength
                        " class="error">
                         El titulo debe tener como maximo 60 caracteres.
                    </p>
                  </div>
                </div>
                <div class="mb-3">
                  <label id="number-label" for="number">Agregar</label>
                   <input type="file" class="form-control" id="img" formControlName="img"  (change)="uploadImage($event)">
                   <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                   <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                </div>
                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                <button type="submit" class="btn btn-dark container-fluid mt-3"  (click)="Limpiar();" >Limpiar</button>
              </form>
              </div>
            </div>
            </form>
            </div>
            <div *ngIf="mje === 'editar'">
              <h5 class="form text-center mb-3"> Certificado</h5>
              <div *ngFor="let certificado of certificados" style="list-style:none">
               <ul>
                  <li type="button" class="certificado" (click)="cargarDetalle(certificado.id)" >{{certificado.titulo}}
                   <i class="fa-solid fa-pen fa-2x1"
                   [ngStyle]="{'color':'green'}"
                   ></i>
                 </li>
               </ul>
             </div>
             <div *ngIf="cert">
             <h5 class="form text-center">Editar Certificado</h5>
              <form [formGroup]="form" (ngSubmit)="onEnviarEdit($event,cert.id)">
               <div class="mb-3">
                 <label id="fortaleza" for="number">Titulo Certificado</label>
                 <input type="text" class="form-control" id="cargo" name="titulo" formControlName="titulo" [(ngModel)]="cert.titulo" required>
                 <div id="fortalezaHelp" class="form-text">Ingrese el titulo</div>
               </div>
               <div class="mb-3">
                <label id="fortaleza" for="number">Ubicacion actual Imagen Certificado</label>
                <textarea class="form-control mb-3"  style="height: 100px" formControlName="img" name="img" [(ngModel)]="cert.img" readonly onmousedown="return false;"></textarea>
              </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Cambiar Imagen</label>
                  <input type="file" class="form-control" id="exampleInputPassword1" accept="image/*" id="img" name="img" formControlName="img" (change)="uploadImageEdit($event)" [(ngModel)]="cert.img">
                  <div class="label" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                  <div class="label text-danger" fxFlex="30" *ngIf="!completed" >Espere a que se cargue el Archivo..</div>
                </div>
             <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
           </form>
         </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
  </div>
</div>

  