<div class="modal fade" id="exampleModal-certificados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="taxt-center">Certificados</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'" >
                  <h5 id="title text-center">Quitar Certificados </h5>
                            
                  <div class="row">
                    <div class="col-sm-4 certif" *ngFor="let certificado of certificados">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{certificado.titulo}}</h5>
                          <div class="contenedor">
                          <img [src]="certificado.img" height="100vh">
                          <button type="button" class="btn btn-primary container-fluid" (click)="borrar(certificado.id)">   
                         Quitar
                          </button>
                            </div>
                        </div>
                      </div>
                    </div>
                  
                  </div>
                </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Certificados</h5>
                <form (ngSubmit)="OnCreate()" novalidate #f="ngForm">
                  <div class="mb-3">
                    <label id="habilidad" for="number">Titulo certificado</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" aria-describedby="fortalezaHelp" [(ngModel)]="titulo" required>
                    <div id="habilidad" class="form-text">Ingrese el titulo del certificado que posee</div>
                  </div>
                  <div class="mb-3">
                    <label id="number-label" for="number">Agregar</label>
                   
                     <input type="file" class="form-control" name="img" id="img" [(ngModel)]="img" (change)="uploadImage($event)">
                     <div class="label" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                     <div class="label" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                  </div>
                  <button [disabled]="!completed" type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
               
              </form>
              </div>
              
            </div>
            </form>
            </div>
            <div *ngIf="mje === 'editar'">
              <h5 class="form text-center mb-3">Editar Experiencia</h5>
              <div *ngFor="let certificado of certificados" style="list-style:none">
               <ul>
                  <li type="button" class="certificado" (click)="cargarDetalle(certificado.id)" >{{certificado.titulo}}
                   <i class="fa-solid fa-pen"
                   [ngStyle]="{'color':'green'}"
                   ></i>
                 </li>
               </ul>
             </div>
             <div *ngIf="cert">
             <h5 class="form text-center">Agregar Experiencia</h5>
             <form (ngSubmit)="OnUpdate(cert.id)" novalidate #f="ngForm">
               <div class="mb-3">
                 <label id="fortaleza" for="number">Habilidad</label>
                 <input type="text" class="form-control" id="cargo" name="cargo" aria-describedby="fortalezaHelp" [(ngModel)]="cert.titulo" required>
                 <div id="fortalezaHelp" class="form-text">Ingrese el titulo</div>
               </div>
               <div class="mb-3">
                <label id="fortaleza" for="number">Ubicacion actual Imagen Certificado</label>
                <input type="text" id="img1" name="img1" class="form-control"[(ngModel)]="cert.img" readonly onmousedown="return false;">
               
              </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Cambiar Imagen</label>
                  <input type="file" class="form-control" id="exampleInputPassword1" id="img" name="img" [(ngModel)]="cert.img" (change)="uploadImage($event)">
               </div>
              
             <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
           </form>
         </div>
          <div class="col-1"></div>
        </div>
      </div>
    
    </div>
  </div>
</div>

   
   
   <!--modal certificados
   <div>
    <div style="height: 100%;overflow-y: auto;" class="modal fade" id="exampleModal-certificados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <h1>Certificados</h1>
        <div class="container modal-dialog">
          <div *ngIf="mje === 'quitar'" >
          <h2 id="title">Quitar Certificados </h2>
          <hr>
         
          <div class="row">
            <div class="col-sm-4 certif" *ngFor="let certificado of certificadoList">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{certificado.titulo}}</h5>
                  <div class="contenedor">
                  <img [src]="certificado.enlace" height="100vh">
                   
                  <a href="#" class="btn btn-primary quitar">Quitar</a>
                    </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
            <div *ngIf="mje === 'agregar'" class="imagen modal-content">
              <h2> Agregar Certificados</h2>
             
              <label id="number-label" for="number">Agregar</label>
            <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
              <input type="file" name="imagen" />
             </form>
            </div>
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      
    </div> -->
