   <!--modal certificados-->
   <div>
    <div style="height: 100%;overflow-y: auto;" class="modal fade" id="exampleModal-certificados" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1 id="title">Certificados </h1>
          <hr>
          <p id="description">Modificar Certificados</p>
          <div class="row">
            <div class="col-sm-4 certif" *ngFor="let certificado of certificadoList">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{certificado.titulo}}</h5>
                  <div class="contenedor">
                  <img [src]="certificado.enlace" height="100vh">
                   
                  <a href="#" class="btn btn-primary quitar">Quitar</a>
                    </div>
                </div>
              </div>
            </div>
          
          </div>
            <div class="imagen modal-content">
              <label id="number-label" for="number">Agregar Certificado</label>
            <form name="subida-imagenes" type="POST" enctype="multipart/formdata" >
              <input type="file" name="imagen" />
             </form>
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      </div>
    </div>
