<section class="dashboard">
 <app-navbardash></app-navbardash>

<div class="container flex text-center">
    <div class="row g-2 g-lg-3">
      <div class="col">
        <div class="flip-card">
      
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <i class="fa-solid fa-screwdriver-wrench fa-lg" style="font-size: 20vh;"></i>
        <!--<img src="imagenes/skills.png" alt="Avatar" style="width:20vh;height:20vh;">-->
      </div>
      <div class="flip-card-back">
        <h1 style="text-decoration: underline;">Habilidades</h1> 
        <p>html: 80%</p> 
        <p>Git: 60%</p>
        <div class="botonagregar">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-skills">
          <i class="fa-solid fa-circle-plus"></i></button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-skills">
            <i class="fa-solid fa-circle-minus"></i></button>
        </div> 
      </div>
    </div>
  </div>
  </div>

  <div class="col">
    <div class="flip-card">
      <div class="row g-2 g-lg-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="fa-solid fa-briefcase fa-lg" style="font-size: 20vh;"></i>
         <!-- <img src="imagenes/trabajo.png" alt="Avatar" style="width:20vh;height:20vh;">-->
       </div>
      <div class="flip-card-back">
        <h1 style="text-decoration: underline;">Experiencia</h1> 
        <p>Trabajo n1</p> 
        <p>Trabaho n2</p>
        <div class="botonagregar">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-trabajo">
            <i class="fa-solid fa-circle-plus"></i></button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-trabajo">
              <i class="fa-solid fa-circle-minus"></i></button>
            </div>
         
      </div>
    </div>
      </div>
  </div>
</div>


<div class="col">
    <div class="flip-card">
        <div class="row g-2 g-lg-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="fa-solid fa-user-pen fa-lg" style="font-size: 20vh;"></i>
         <!-- <img src="imagenes/datosPersonales.png" alt="Avatar" style="width:300px;height:300px;">-->
        </div>
        <div class="flip-card-back">
          <h1>Datos Personales</h1> 
          <p>redes sociales</p> 
          <p>Telefono</p>
          <div class="botonagregar">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-personal">
              <i class="fa-solid fa-circle-plus"></i></button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-personal">
                <i class="fa-solid fa-circle-minus"></i></button>
            </div> 
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <i class="fa-solid fa-user-graduate fa-lg" style="font-size: 20vh;"></i>
           <!-- <img src="imagenes/estudios.png" alt="Avatar" >-->
          </div>
          <div class="flip-card-back">
            <h1>Estudios</h1> 
            <p>1</p> 
            <p>2</p>
            <div class="botonagregar">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-estudios">
                <i class="fa-solid fa-circle-plus"></i></button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-estudios">
                  <i class="fa-solid fa-circle-minus"></i></button>
              </div> 
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
          <div class="flip-card-inner">
            <div class="flip-card-front" >
              
              <i class="fa-solid fa-file-image fa-lg" style="font-size: 20vh;"></i>
              <!--<img src="imagenes/fotoPerfil.png" alt="Avatar" style="width:300px;height:300px;"-->
            </div>
            <div class="flip-card-back">
              <h1>Foto Perfil</h1> 
              <p>Foto 1</p> 
              <p>foto 2</p>
              <div class="botonagregar">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-foto">
                  <i class="fa-solid fa-circle-plus"></i></button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-foto">
                    <i class="fa-solid fa-circle-minus"></i></button>
                </div> 
            </div>
          </div>
        </div>
        </div>
        </div>
        <!--certificados-->
        <div class="col">
          <div class="flip-card">
            <div class="row g-2 g-lg-3">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
            
                <i class="fa-solid fa-certificate fa-lg" style="font-size: 20vh;"></i> 
             
              </div>
              <div class="flip-card-back">
                <h1>Certificados</h1> 
                <p>certificado 1 </p> 
                <p>certificado 2</p>
                <div class="botonagregar">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-certificados">
                    <i class="fa-solid fa-circle-plus"></i></button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-certificados">
                      <i class="fa-solid fa-circle-minus"></i></button>
                  </div> 
              </div>
            </div>
          </div>
          </div>
          </div>


          <div class="col">
            <div class="flip-card">
              <div class="row g-2 g-lg-3">
              <div class="flip-card-inner">
                <div class="flip-card-front" >
                 <!-- <i class="fa-solid fa-person-dress-simple fa-lg" style="font-size: 20vh;"></i>
                  -->
                  <i class="fa-solid fa-person-dress fa-lg" style="font-size: 20vh;"></i>
                </div>
                <div class="flip-card-back">
                  <h1>Acerca de mi</h1> 
                  
                  <div class="botonagregar">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-acercademi">
                      <i class="fa-solid fa-circle-plus"></i>></button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-acercademi">
                        <i class="fa-solid fa-circle-minus"></i></button>
                    </div> 
                </div>
              </div>
            </div>
            </div>
            </div>

            <div class="col">
              <div class="flip-card">
                <div class="row g-2 g-lg-3">
                <div class="flip-card-inner">
                  <div class="flip-card-front" >
                    <h2 class="efecto">Fortalezas y Debilidades</h2>
                  
                   
                  </div>
                  <div class="flip-card-back">
                    <h1>Fortalezas/Debilidades</h1> 
                    <p>fortalez 1 </p> 
                    <p>debilidades 2</p>
                    <div class="botonagregar">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-fortalezas-debilidades">
                        <i class="fa-solid fa-circle-plus"></i></button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-fortalezas-debilidades">
                          <i class="fa-solid fa-circle-minus"></i></button>
                      </div> 
                  </div>
                </div>
              </div>
              </div>
              </div>
              
    
      <!--tarjeta efecto letras-->
      <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
          <div class="flip-card-inner">
            <div class="flip-card-front" >
          
              <h2 class="efecto">Efectos</h2>
           
            </div>
            <div class="flip-card-back">
              <h1>Efectos</h1> 
              <p>certificado 1 </p> 
              <p>certificado 2</p>
              <div class="botonagregar">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-letras-efectos">
                  <i class="fa-solid fa-circle-plus"></i></button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-letras-efectos">
                    <i class="fa-solid fa-circle-minus"></i></button>
                </div> 
            </div>
          </div>
        </div>
        </div>
        </div>
     
      </div>
    </div>
    
     
       </section>
       <app-footer></app-footer>

       <app-modal-certificados></app-modal-certificados>
       <app-modal-estudios></app-modal-estudios>
       <app-modal-perfil></app-modal-perfil>
       <app-modal-personal></app-modal-personal>
       <app-modal-skills></app-modal-skills>
       <app-modal-trabajo></app-modal-trabajo>
       <app-acercademi></app-acercademi>
       <app-fortalezasydebilidades></app-fortalezasydebilidades>
       <app-letras-efectos></app-letras-efectos>
       
