.dashboard{
    background-image: url(/assets/imagenes/pared-negra.png);
    min-height: 120vh;
    
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin-bottom: 2vh;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
  }
  
  .flip-card-front {
    background-color: rgb(186, 176, 204);
    color: rgb(7, 0, 0);
    width:250px;
    height:250px;
   
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    width:250px;height:250px;
  }
  .fa-briefcase,.fa-user-pen,.fa-user-graduate,.fa-file-image,.fa-code,.fa-scale-balanced,.fa-screwdriver-wrench{
    margin-top: 12vh;
    
  }
  .fa-id-card-clip,.fa-wand-magic-sparkles,.fa-share-nodes,.fa-award{
    margin-top:5.5vh;
  }
  .efecto{
    margin:2vh 1vh 2vh 1vh;
  }
  /*botones tarjeta*/
  .fa-circle-plus,.fa-circle-minus{
    margin-top: 0%;
  }
  .botonagregar>button{
   display:block;
    width: 130px;
   margin: 12px auto ;
  }

  .botonagregar>button:not(:last-child){
  
    margin: 20px auto 
  }
 
  /*modales*/
  .container{
    background-image: url(/src/assets/imagenes/pared-negra.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .container .flex{
      display: flex;
      justify-content: center;
    }
    .list-group-horizontal .list-group-item{
     
      background-color: transparent;
      color: #fff;
    }
    .fa-user{
      background-color: transparent;
      display: flex;
     
      align-items: top;
      align-items: center;
    }
    .list-group-horizontal{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .modal.fade {
      box-sizing: border-box;
      height: 200rem;
       
    }
    .imagen.modal-content{
      background-color: rgba(233, 233, 243, 0.341);
      padding: 2vh 2vh 2vh 2vh;
    }
    
    .modal {
      font-family: sans-serif;
      line-height: 1.4;
      margin: 0;
      background-color: rgba(220, 239, 127, 0.8);
      background-position: center;
      color: rgb(9, 3, 3); 
     
    }
    
    .form-group.modal-content{
      background-color:rgba(145, 145, 211, 0.8);
    }
    .modal-dialog{
      max-width: 100rem;
    }
    h1 {
      font-weight: 300;
      font-size: 3vh;
      line-height: 1.2;
      padding-top: 2vh;
    }
    
    p {
      font-size: 1.125rem;
    }
    
    
    h1, p {
      margin-top: 0;
      margin-bottom: 0.5 rem;
    }
    
    label {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }
    
    input, buttom, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }
    
    button {
      border: none;
    }
    
    .container {
      width: 100%;
      margin: 3.125rem auto 0 auto;
      padding: 0%;
    }
    
    #title {
      text-align: center;
      padding: 0 0.625rem;
      margin-bottom: 1.875rem;
    }
    
    #description {
      text-align: center;
      font-style: italic;
      font-weight: 200;
      text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
    }
    .input-textarea {
      min-height: 120px;
      width: 100%;
      padding: 0.625rem;
      resize: vertical;
    }
    
    #submit {
      display: block;
      width: 100%;
      padding: 0.75rem;
      background: #8e6ca4;
      color: inherit;
      border-radius: 2px;
      cursor: pointer;
    }
    footer{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
    .footer{
      text-align: center;
    }
  /*footer*/
  .footer{
    margin-top: 1vh;
    width: 100%;
   
    background: linear-gradient(450deg,rgb(171, 171, 247),black);
    border-radius:10px;
    box-shadow: 0,20px,30px darkblue;
    color: white;
  
  }
  .efecto{
    color:#000000;
    font-size: 5vh;
    
 
  }