.dashboard{
    background-image: url(/assets/imagenes/pared-negra.png);
    min-height: 70vh;
    
   
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 250px;
    perspective: 1000px;
    margin-bottom: 2vh;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: rgb(186, 176, 204);
    color: rgb(7, 0, 0);
    width:250px;
    height:250px;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
    width:250px;height:250px;
  }
  .fa-briefcase,.fa-user-pen,.fa-user-graduate,.fa-file-image,.fa-code,.fa-scale-balanced,.fa-screwdriver-wrench{
    margin-top: 120px;
    
  }
  .fa-id-card-clip,.fa-wand-magic-sparkles,.fa-share-nodes,.fa-award{
    margin-top:5.5vh;
  }

  /*botones tarjeta*/
  .fa-circle-plus,.fa-circle-minus{
    margin-top: 0%;
  }
  .botonagregar>button{
   display:block;
    width: 130px;
   margin: 12px auto ;
  }
 
  .botonagregar>button:not(:last-child){
    margin: 20px auto 
  }
 
   .container{
    background-image: url(/src/assets/imagenes/pared-negra.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    
  /*  margin: 20px auto;*/
    }
    .fa-user{
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    h1{
      font-size: 25px;
      margin-bottom: 0.5 rem;
    }
    .form-group.modal-content{
      background-color:rgba(145, 145, 211, 0.8);
    }
    p {
      font-size: 1.125rem;
    }
    label {
      display: flex;
      align-items: center;
      font-size: 1.125rem;
      margin-bottom: 0.5rem;
    }   
    button {
      border: none;
    }
    @media (max-width: 300px){
      .container{
        margin-left: 0px;
      }
    }
  @media screen and (min-width:301px) and (max-width: 533px)  {
    .container{
      margin-left: 50px;
    }
  }