<section class="dashboard">
 <app-navbardash></app-navbardash>

<div class="container flex text-center">
    <div class="row g-2 g-lg-3">
      <div class="col">
        <div class="flip-card">
      
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <i class="fa-solid fa-screwdriver-wrench fa-lg" style="font-size: 15vh;"></i>
        <!--<img src="imagenes/skills.png" alt="Avatar" style="width:20vh;height:20vh;">-->
      </div>
      <div class="flip-card-back">
        <h1 style="text-decoration: underline;">Habilidades</h1> 
        
        <div class="botonagregar">
          
          <button class="btn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-skills">
            <i class="fa-solid fa-circle-plus"
            (click)="evento()"> Agregar </i></button>
          
          <button class="btn1" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-skills">
            <i class="fa-solid fa-circle-minus"
            (click)="quitar()" > Quitar </i></button>
        </div> 
      </div>
    </div>
  </div>
  </div>

  <div class="col">
    <div class="flip-card">
      <div class="row g-2 g-lg-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="fa-solid fa-briefcase fa-lg" style="font-size: 15vh;"></i>
         <!-- <img src="imagenes/trabajo.png" alt="Avatar" style="width:20vh;height:20vh;">-->
       </div>
      <div class="flip-card-back">
        <h1 style="text-decoration: underline;">Experiencia</h1> 
          <div class="botonagregar">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-trabajo">
            <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-trabajo">
              <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
            </div>
         
      </div>
    </div>
      </div>
  </div>
</div>


<div class="col">
    <div class="flip-card">
        <div class="row g-2 g-lg-3">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <i class="fa-solid fa-user-pen fa-lg" style="font-size: 15vh;"></i>
         <!-- <img src="imagenes/datosPersonales.png" alt="Avatar" style="width:300px;height:300px;">-->
        </div>
        <div class="flip-card-back">
          <h1 style="text-decoration: underline; font-size: 2.5vh;">Datos Personales</h1> 
          <div class="botonagregar">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-personal">
              <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-personal">
                <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
            </div> 
        </div>
      </div>
    </div>
    </div>
    </div>

    <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <i class="fa-solid fa-user-graduate fa-lg" style="font-size: 15vh;"></i>
           <!-- <img src="imagenes/estudios.png" alt="Avatar" >-->
          </div>
          <div class="flip-card-back">
            <h1 style="text-decoration: underline">Estudios</h1> 
           
            <div class="botonagregar">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-estudios">
                <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-estudios">
                  <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
              </div> 
          </div>
        </div>
        </div>
      </div>
      </div>
      <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
          <div class="flip-card-inner">
            <div class="flip-card-front" >
              
              <i class="fa-solid fa-file-image fa-lg" style="font-size: 15vh;"></i>
              <!--<img src="imagenes/fotoPerfil.png" alt="Avatar" style="width:300px;height:300px;"-->
            </div>
            <div class="flip-card-back">
              <h1 style="text-decoration: underline;">Foto Perfil</h1> 
             
              <div class="botonagregar">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-foto">
                  <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-foto">
                    <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
                </div> 
            </div>
          </div>
        </div>
        </div>
        </div>
        <!--certificados-->
        <div class="col">
          <div class="flip-card">
            <div class="row g-2 g-lg-3">
            <div class="flip-card-inner">
              <div class="flip-card-front" >
                <i class="fa-solid fa-award" style="font-size: 15vh;"></i>
               
              </div>
              <div class="flip-card-back">
                <h1 style="text-decoration: underline;">Certificados</h1> 
                <div class="botonagregar">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-certificados">
                    <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-certificados">
                      <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
                  </div> 
              </div>
            </div>
          </div>
          </div>
          </div>


          <div class="col">
            <div class="flip-card">
              <div class="row g-2 g-lg-3">
              <div class="flip-card-inner">
                <div class="flip-card-front" >
                 <!-- <i class="fa-solid fa-person-dress-simple fa-lg" style="font-size: 20vh;"></i>
                  -->
                  <i class="fa-solid fa-id-card-clip" style="font-size: 15vh;"></i>
                </div>
                <div class="flip-card-back">
                  <h1 style="text-decoration: underline;">Acerca de Mi</h1> 
                  
                  <div class="botonagregar">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-acercademi">
                      <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i>></button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-acercademi">
                        <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
                    </div> 
                </div>
              </div>
            </div>
            </div>
            </div>

            <div class="col">
              <div class="flip-card">
                <div class="row g-2 g-lg-3">
                <div class="flip-card-inner">
                  <div class="flip-card-front" >
                                   
                    <i class="fa-solid fa-solid fa-scale-balanced fa-lg" style="font-size: 15vh;"></i>
                   
                  </div>
                  <div class="flip-card-back">
                    <h1 style="text-decoration: underline;font-size: 2.5vh;">Fortalezas/<br>Debilidades</h1> 
                  
                    <div class="botonagregar">
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-fortalezas-debilidades">
                        <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-fortalezas-debilidades">
                          <i class="fa-solid fa-circle-minus" (click)="quitar()" > Quitar </i></button>
                      </div> 
                  </div>
                </div>
              </div>
              </div>
              </div>
              
              <div class="col">
                <div class="flip-card">
                  <div class="row g-2 g-lg-3">
                  <div class="flip-card-inner">
                    <div class="flip-card-front" >
                      <i class="fa-solid fa-code fa-lg" style="font-size: 15vh;"></i> 
                     
                   
                    </div>
                    <div class="flip-card-back">
                      <h1>Proyectos</h1> 
                      
                      <div class="botonagregar">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-proyectos">
                          <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-proyectos">
                            <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
                        </div> 
                    </div>
                  </div>
                </div>
                </div>
                </div>
      <!--tarjeta efecto letras-->
      <div class="col">
        <div class="flip-card">
          <div class="row g-2 g-lg-3">
          <div class="flip-card-inner">
            <div class="flip-card-front" >
              
              <i class="fa-solid fa-wand-magic-sparkles" style="font-size: 15vh;"></i> 
             
           
            </div>
            <div class="flip-card-back">
              <h1>Efectos</h1> 
              
              <div class="botonagregar">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-letras-efectos">
                  <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-letras-efectos">
                    <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
                </div> 
            </div>
          </div>
        </div>
        </div>
        </div>
     <!--Redes spciales-->
     <div class="col">
      <div class="flip-card">
        <div class="row g-2 g-lg-3">
        <div class="flip-card-inner">
          <div class="flip-card-front" >
            
            <i class="fa-sharp fa-solid fa-share-nodes" style="font-size: 15vh;"></i> 
           
         
          </div>
          <div class="flip-card-back">
            <h1>Redes Sociales</h1> 
            
            <div class="botonagregar">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-redes-sociales">
                <i class="fa-solid fa-circle-plus" (click)="evento()"> Agregar </i></button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-redes-sociales">
                  <i class="fa-solid fa-circle-minus" (click)="quitar()"> Quitar </i></button>
              </div> 
          </div>
        </div>
      </div>
      </div>
      </div>

      </div>
    </div>
    
     
       </section>
       <app-footer></app-footer>

       <app-modal-certificados [mje]="Agregar"></app-modal-certificados>
       <app-modal-estudios [mje]="Agregar"></app-modal-estudios>
       <app-modal-perfil [mje]="Agregar"></app-modal-perfil>
       <app-modal-personal [mje]="Agregar"></app-modal-personal>
       <app-modal-skills [mje]="Agregar"></app-modal-skills>
       <app-modal-trabajo [mje]="Agregar"></app-modal-trabajo>
       <app-acercademi [mje]="Agregar"></app-acercademi>
       <app-fortalezasydebilidades [mje]="Agregar"></app-fortalezasydebilidades>
       <app-letras-efectos [mje]="Agregar"></app-letras-efectos>
       <app-modal-proyectos [mje]="Agregar"></app-modal-proyectos>
       <app-modal-redes [mje]="Agregar"></app-modal-redes>
       
