<div class="modal fade" id="exampleModal-redes-sociales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="taxt-center">Redes Sociales</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <form>
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'" >
                  <h5 id="title text-center">Quitar Red social </h5>
                  <div class="row">
                    <ul *ngFor="let red of redesList" style="list-style:none">
                      <li  class="redes" type="button" (click)="borrar(red.id)">{{red.nombre}} - {{red.path}}
                        <i class="fa-solid fa-xmark"
                        [ngStyle]="{'color':'red'}"
                        ></i>
                      </li>
                    </ul>
                   </div>
                </div>
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Certificados</h5>
                <form [formGroup]="form" (ngSubmit)="onEnviar($event)"novalidate>
                  <div class="mb-3">
                    <label id="habilidad" for="number">Nombre Red</label>
                    <input type="text" class="form-control" name="nombre" formControlName="nombre" [(ngModel)]="nombre"
                    [ngClass]="{'is-invalid': Nombre.errors && Nombre.touched, 'is-valid':!Nombre.errors && Nombre.touched}">
                    <div id="fortalezaHelp" class="form-text">Ingrese la habilidad que considera poseer</div>
                      <div *ngIf="Nombre.errors  && Nombre.touched">    
                        <p *ngIf="Nombre.hasError('required')" class="text-danger">
                            El nombre de la red social es requerido.
                        </p>
                        <p *ngIf="Nombre?.errors?.minlength" class="error">
                              El nombre debe tener como mínimo 3 caracteres.
                            </p>
                        <p *ngIf="Nombre?.errors?.maxlength" class="error">
                              El nombre debe tener como maximo 35 caracteres.
                        </p>
                      </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Path de red social</label>
                    <input type="text" class="form-control" name="path" id="exampleInputPassword1" formControlName="path"  [(ngModel)]="path"
                    [ngClass]="{'is-invalid': Path.errors && Path.touched, 'is-valid':!Path.errors && Path.touched}">
                    <div *ngIf="Path.errors  && Path.touched">    
                      <p *ngIf="Path.hasError('required')" class="text-danger">
                          El nombre de la red social es requerido.
                      </p>
                      <p *ngIf="Path?.errors?.minlength" class="error">
                            El path debe tener como mínimo 10 caracteres.
                          </p>
                      <p *ngIf="Path?.errors?.maxlength" class="error">
                            El path debe tener como maximo 85 caracteres.
                      </p>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Icono de la red social (formato: fa-brands fa-lg fa-whatsapp fa-2x1)</label>
                    <input type="text" class="form-control"name="imagen" id="imagen" formControlName="imagen" [(ngModel)]="imagen"
                    [ngClass]="{'is-invalid': Imagen.errors && Imagen.touched, 'is-valid':!Imagen.errors && Imagen.touched}">
                    <div *ngIf="Imagen.errors  && Imagen.touched">    
                      <p *ngIf="Imagen.hasError('required')" class="text-danger">
                          El nombre de la red social es requerido.
                      </p>
                      <p *ngIf="Imagen?.errors?.minlength" class="error">
                            la imagen debe tener como mínimo 5 caracteres.
                          </p>
                      <p *ngIf="Imagen?.errors?.maxlength" class="error">
                            la imagen debe tener como maximo 55 caracteres.
                      </p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                  <button type="submit" class="btn btn-dark container-fluid mt-3"  (click)="Limpiar();" >Limpiar</button>
              </form>
              </div>
            </div>
            </form>
           
            <div *ngIf="mje === 'editar'">
              <h5 class="form text-center mb-3">Editar Redes</h5>
              <div *ngFor="let red of redesList" style="list-style:none">
               <ul>
                  <li type="button" class="redes" (click)="cargarDetalle(red.id)" >{{red.nombre}}
                   <i class="fa-solid fa-pen"
                   [ngStyle]="{'color':'green'}"
                   ></i>
                 </li>
               </ul>
             </div>
             <div *ngIf="red">
             <h5 class="form text-center">Agregar Red Social</h5>
             <form (ngSubmit)="OnUpdate(red.id)" novalidate #f="ngForm">
               <div class="mb-3">
                 <label id="fortaleza" for="number">Red Social</label>
                 <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="fortalezaHelp" [(ngModel)]="red.nombre" required>
                 <div id="fortalezaHelp" class="form-text">Ingrese el titulo
                 </div>
               </div>
               <div class="mb-3">
                <label id="fortaleza" for="number">path red social</label>
                <input type="text" id="img1" name="img1" class="form-control"[(ngModel)]="red.path">
               
              </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Cambiar Icono</label>
                  <input type="text" class="form-control" id="exampleInputPassword1" id="imagen" name="imagen" [(ngModel)]="red.imagen">
               </div>
             <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
           </form>
         </div>
        </div>
          <div class="col-1"></div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>



