<div>
    <div class="modal fade" id="exampleModal-redes-sociales" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:auto" >
      
        <div class="container modal-dialog">
          <h1 id="title">Formulario </h1>
          <hr>
          <app-redes></app-redes>
          <p id="description">Agregar Redes</p>
          
          <div class="imagen modal-content">
            <label id="estudio-curso" for="number">Redes</label>
            <input type="text" name="estudio-curso" />
           
            <label id="enlace" for="number">Enlace</label>
            <input type="text" name="enlace" />
          </div>
       
               
            <div class="form-group">
            <button class="boton" type="submit" id="submit">
              Guardar
              </button>
            </div>
          </div>
          </div>
        </div>


