
  <div class="modal fade" id="exampleModal-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 >Proyectos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div class="mb-3">
                  <div *ngIf="mje === 'quitar'">
                      <h5 class="text-center">Quitar Proyecto</h5>
                      <ul *ngFor="let proyecto of proyectoList" style="list-style:none">
                        <li  class="proyecto" (click)="borrar(proyecto.id)">{{proyecto.proyecto}}
                          <i class="fa-solid fa-xmark"
                          [ngStyle]="{'color':'red'}"
                          ></i>
                        </li>
                      </ul>
                        </div>
                     
                </div>
                  
                <div *ngIf="mje === 'agregar'">
                  <h5 class="form text-center">Agregar Proyecto</h5>
                  <form [formGroup]="form1" (ngSubmit)="onEnviar($event)" novalidate>
                    <div class="mb-3">
                      <label id="proyecto" for="number">Proyecto</label>
                      <input type="text" class="form-control" name="proyecto" id="proyecto" formControlName="proyecto" [(ngModel)]="proyecto"
                      [ngClass]="{'is-invalid': Proyecto.errors && Proyecto.touched, 'is-valid':!Proyecto.errors && Proyecto.touched}">
                      <div id="proyecto" class="form-text">Ingrese el proyecto</div>
                      <div *ngIf="Proyecto?.errors  && Proyecto?.touched">    
                        <p *ngIf="Proyecto?.hasError('required')" class="text-danger">
                            El titulo del proyecto es requerido.
                        </p>
                        <p *ngIf="Proyecto?.errors.minlength" class="error">
                              El nombre del proyecto debe tener como mínimo 3 caracteres.
                            </p>
                        <p *ngIf="Proyecto?.errors.maxlength" class="error">
                          El nombre del proyecto tener como maximo 25 caracteres.
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label id="proyecto" for="number">Path al Proyecto</label>
                      <input type="text" class="form-control" name="path" formControlName="path" [(ngModel)]="path" required
                      [ngClass]="{'is-invalid': Path?.errors && Path?.touched, 'is-valid':!Path?.errors && Path?.touched}">
                      <div *ngIf="Path?.errors  && Path?.touched">    
                        <p *ngIf="Path?.hasError('required')" class="text-danger">
                            El path del proyecto es requerido.
                        </p>
                        <p *ngIf="Path?.errors?.minlength" class="error">
                              El path debe tener como mínimo 5 caracteres.
                            </p>
                        <p *ngIf="Path?.errors?.maxlength" class="error">
                              El path debe tener como maximo 100 caracteres.
                        </p>
                      </div>
                    </div>
                    <div class="mb-3">
                        <label class="label">Fecha en que fue Terminado el Proyecto:</label>
                        <input type="date" class="form-control mb-4" id="fecha" formControlName="fecha" name="fecha" [(ngModel)]="fecha" 
                        [ngClass]="{'is-invalid': Fecha.errors && Fecha.touched, 'is-valid':!Fecha.errors && Fecha.touched}">
                        <div *ngIf="Fecha.errors  && Fecha.touched">    
                          <p *ngIf="Fecha?.errors?.maxlength" class="error">
                                la fecha debe tener como maximo 8 numeros.
                          </p>
                        </div>
                    </div>
                    <div class="mb-3">
                      <label for="img" class="form-label">Imagen Proyecto</label>
                      <input type="file" class="form-control" name="img" formControlName="img" [(ngModel)]="img" (change)="uploadImage($event)">
                      <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                      <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                    </div>
                    <div class="mb-3">
                      <label id="img" for="repositorio">Enlace al repositorio de proyecto</label>
                      <input type="text" class="form-control" name="repositorio" formControlName="repositorio" [(ngModel)]="repositorio"
                      [ngClass]="{'is-invalid': Repositorio.errors && Repositorio.touched, 'is-valid':!Repositorio.errors && Repositorio.touched}">
                      <div id="img" class="form-text">Ingrese el path al repo</div>
                      <div *ngIf="Repositorio?.errors  && Repositorio?.touched">    
                        <p *ngIf="Repositorio?.hasError('required')" class="text-danger">
                            El enlace del estudio es requerido.
                        </p>
                        <p *ngIf="Repositorio?.errors.minlength" class="error">
                              El enlace debe tener como mínimo 10 caracteres.
                            </p>
                        <p *ngIf="Repositorio?.errors.maxlength" class="error">
                              El enlace debe tener como maximo 100 caracteres.
                        </p>
                      </div>
                    </div>
                     
                  <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                  <button type="submit" class="btn btn-dark container-fluid mt-3"  (click)="Limpiar();" >Limpiar</button>
                </form>
              </div>
              <div *ngIf="mje === 'editar'">
                <h5 class="form text-center mb-3">Editar Proyecto</h5>
                <div *ngFor="let proyecto of proyectoList" style="list-style:none">
                 <ul>
                    <li type="button" class="proyecto" (click)="cargarDetalle(proyecto.id)" >{{proyecto.proyecto}}
                     <i class="fa-solid fa-pen"
                     [ngStyle]="{'color':'green'}"
                     ></i>
                   </li>
                 </ul>
               </div>
               <div *ngIf="proyec">
               <h5 class="form text-center">Editar el Proyecto</h5>
               <form [formGroup]="form1" (ngSubmit)="OnUpdate(proyec.id)" novalidate>
                 <div class="mb-3">
                   <label id="fortaleza" for="number">Proyecto</label>
                   <input type="text" class="form-control" id="cargo" name="cargo"formControlName="proyecto" [(ngModel)]="proyec.proyecto" 
                   [ngClass]="{'is-invalid': Proyecto.errors && Proyecto.touched, 'is-valid':!Proyecto.errors && Proyecto.touched}">
                   <div *ngIf="Proyecto?.errors  && Proyecto?.touched">    
                    <p *ngIf="Proyecto?.hasError('required')" class="text-danger">
                        El titulo del estudio es requerido.
                    </p>
                    <p *ngIf="Proyecto?.errors?.minlength" class="error">
                          El path debe tener como mínimo 5 caracteres.
                        </p>
                    <p *ngIf="Proyecto?.errors?.maxlength" class="error">
                          El path debe tener como maximo 25 caracteres.
                    </p>
                  </div>
                 </div>
                 <div class="mb-3">
                  <label id="proyecto" for="number">Path al Proyecto</label>
                  <input type="text" class="form-control" name="path" formControlName="path" [(ngModel)]="proyec.path" required
                  [ngClass]="{'is-invalid': Proyecto?.errors && Proyecto?.touched, 'is-valid':!Proyecto?.errors && Proyecto?.touched}">
                  <div *ngIf="Proyecto?.errors  && Proyecto?.touched">    
                    <p *ngIf="Proyecto?.hasError('required')" class="text-danger">
                        El titulo del estudio es requerido.
                    </p>
                    <p *ngIf="Proyecto?.errors?.minlength" class="error">
                          El path debe tener como mínimo 5 caracteres.
                        </p>
                    <p *ngIf="Proyecto?.errors?.maxlength" class="error">
                          El path debe tener como maximo 100 caracteres.
                    </p>
                  </div>
                  
                </div>
                 <div class="mb-3">
                  <label class="label">Fecha en que fue Terminado el Proyecto:</label>
                 
                  <input type="date" class="form-control mb-4" id="fecha" formControlName="fecha" name="fecha" [(ngModel)]="proyec.fecha" 
                  [ngClass]="{'is-invalid': Fecha.errors && Fecha.touched, 'is-valid':!Fecha.errors && Fecha.touched}">
                  <div *ngIf="Fecha.errors  && Fecha.touched">    
                    <p *ngIf="Fecha?.errors?.maxlength" class="error">
                          la fecha debe tener como maximo 8 numeros.
                    </p>
                  </div>
              </div>
                 <div class="mb-3">
                  <label class="label">Url de la Imagen actual del proyecto</label>
                  <div class="form-floating">
                   <textarea class="form-control mb-3"  style="height: 100px" formControlName="img" name="img" [(ngModel)]="proyec.img" readonly onmousedown="return false;"></textarea>
                  <label for="icono" class="form-label">imagen Proyecto</label>
                  <input type="file" class="form-control mb-3" name="img" formControlName="img" (change)="uploadImageEdit($event)" required>
                  <div class="label text-success" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                    <div class="label text-danger" fxFlex="30" *ngIf="!completed">Espere a que se cargue el Archivo..</div>
                </div>
                 </div>
                 <div class="mb-3">
                  <label id="img" for="repositorio">Enlace al repositorio de proyecto</label>
                  <input type="text" class="form-control" name="repositorio" formControlName="repositorio" [(ngModel)]="proyec.repositorio"
                  [ngClass]="{'is-invalid': Repositorio.errors && Repositorio.touched, 'is-valid':!Repositorio.errors && Repositorio.touched}">
                  <div id="img" class="form-text">Ingrese el path al repo</div>
                  <div *ngIf="Repositorio?.errors  && Repositorio?.touched">    
                    <p *ngIf="Repositorio?.hasError('required')" class="text-danger">
                        El enlace del estudio es requerido.
                    </p>
                    <p *ngIf="Repositorio?.errors.minlength" class="error">
                          El enlace debe tener como mínimo 10 caracteres.
                        </p>
                    <p *ngIf="Repositorio?.errors.maxlength" class="error">
                          El enlace debe tener como maximo 100 caracteres.
                    </p>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
             </form>
           </div>
             </div>
            <div class="col-1"></div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
