
  <div class="modal fade" id="exampleModal-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 >Proyectos</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
              
                <div class="mb-3">
                  <div *ngIf="mje === 'quitar'">
                      <h5 class="text-center">Quitar Proyecto</h5>
                      <ul *ngFor="let proyecto of proyectoList" style="list-style:none">
           
                        <li  class="proyecto">{{proyecto.proyecto}}
                          <i class="fa-solid fa-xmark"
                          [ngStyle]="{'color':'red'}"
                          ></i>
                        </li>
                        
                      </ul>
                        <button type="button" class="btn btn-primary container-fluid">Guardar Cambios</button>
                       </div>
                     
                </div>
                  
                <div *ngIf="mje === 'agregar'">
                  <h5 class="form text-center">Agregar Proyecto</h5>
                  <form (ngSubmit)="OnCreate()" novalidate #f="ngForm">
                    <div class="mb-3">
                      <label id="proyecto" for="number">Proyecto</label>
                      <input type="text" class="form-control" id="proyecto" name="proyecto" aria-describedby="fortalezaHelp" [(ngModel)]="proyecto" required>
                      <div id="proyecto" class="form-text">Ingrese el proyecto</div>
                    </div>
                    <div class="mb-3">
                      <label id="proyecto" for="number">Path al Proyecto</label>
                      <input type="text" class="form-control" id="path" name="path" aria-describedby="fortalezaHelp" [(ngModel)]="path" required>
                      <div id="proyecto" class="form-text">Ingrese el path</div>
                    </div>
                    <div class="mb-3">
                      <label for="porcentaje" class="form-label">Imagen Proyecto</label>
                      <input type="file" class="form-control" id="img" name="img" [(ngModel)]="img" (change)="uploadImage($event)">
                      <div class="label" fxFlex="30" *ngIf="completo">Archivo cargado</div>
                      <div class="label" fxFlex="30" *ngIf="!completo">Espere a que se cargue el Archivo..</div>
                    </div>
                   
                  <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
                </form>
                            
              </div>
              <div *ngIf="mje === 'editar'">
                <h5 class="form text-center mb-3">Editar Proyecto</h5>
                <div *ngFor="let proyecto of proyectoList" style="list-style:none">
                 <ul>
                    <li type="button" class="proyecto" (click)="cargarDetalle(proyecto.id)" >{{proyecto.proyecto}}
                     <i class="fa-solid fa-pen"
                     [ngStyle]="{'color':'green'}"
                     ></i>
                   </li>
                 </ul>
               </div>
               <div *ngIf="proyec">
               <h5 class="form text-center">Agregar Proyecto</h5>
               <form (ngSubmit)="OnUpdate(proyec.id)" novalidate #f="ngForm">
                 <div class="mb-3">
                   <label id="fortaleza" for="number">Proyecto</label>
                   <input type="text" class="form-control" id="cargo" name="cargo" aria-describedby="fortalezaHelp" [(ngModel)]="proyec.proyecto" required>
                   <div id="fortalezaHelp" class="form-text">Ingrese el nombre del proyecto</div>
                 </div>
                 <div class="mb-3">
                  <label for="icono" class="form-label">imagen Proyecto</label>
                  <input type="file" class="form-control" id="img" name="img" aria-describedby="fortalezaHelp" [(ngModel)]="proyec.img" (change)="uploadImage($event)" required>
                </div>
               <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
             </form>
           </div>
             </div>
            <div class="col-1"></div>
          </div>
        </div>
      
      </div>
    </div>
   
   
   
   <!--<div class="modal fade" id="exampleModal-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:auto" >
      
        <div class="container modal-dialog">
          <h1>Proyectos </h1>
          <div *ngIf="mje === 'quitar'" class="lista-fortalezaDebilidad">
            <h2 >Quitar Proyecto</h2>
          <ul *ngFor="let proyecto of proyectoList" style="list-style:none">
           
            <li  class="fortDebil">{{proyecto.nombre}}
              <i class="fa-solid fa-xmark"
              [ngStyle]="{'color':'red'}"
              ></i>
            </li>
            
          </ul>
          </div>
         

         </div>
          
          <div *ngIf="mje === 'agregar'" class="lista-fortalezaDebilidad">
            <h2>Agregar Proyectos</h2>
            <label id="estudio-curso" for="number">Nombre Proyecto</label>
            <input type="text" name="estudio-curso" />
           
            <label id="enlace" for="number">Enlace</label>
            <input type="text" name="enlace" />
          </div>
       
               
            <div class="form-group">
            <button class="boton" type="submit" id="submit">
              Guardar
              </button>
            </div>
          </div>-->
  
        
