<div>
    <div class="modal fade" id="exampleModal-proyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y:auto" >
      
        <div class="container modal-dialog">
          <h1 id="title" style="text-decoration:underline;">Formulario </h1>
          <app-proyectos></app-proyectos>
          <p id="description">Agregar Proyectos</p>
          <div class="imagen modal-content">
            <label id="estudio-curso" for="number">Nombre Proyecto</label>
            <input type="text" name="estudio-curso" />
           
            <label id="enlace" for="number">Enlace</label>
            <input type="text" name="enlace" />
          </div>
       
               
            <div class="form-group">
            <button class="boton" type="submit" id="submit">
              Guardar
              </button>
            </div>
          </div>
          </div>
        </div>
