.imagen-pato img{
    
    border-style:solid;
    border-color: rgba(145, 145, 6, 0.722);
    margin-top: 29%;
    margin-left: 5%;
 
    position:static;
    box-shadow: 6px 6px 5px 2px #0b0a09;
    width:calc(10*1.5vw);
    margin-top: 14%;
  }
  @media screen and (max-width:376px) {
    .imagen-pato img{
      
      width: 60px;
       
  }
  }
 

