.experiencias img{
    background-color:#73a4eed1
  }
  .experiencia{
  
     
     padding: 1vh 1vh;
     background-image: url(/assets/imagenes/fondo\ dorado.jpg);
     background-repeat: no-repeat;
    
     background-size: cover;
    
    
     
   }
   
   .experiencias{
    border-radius: 5vh;
    margin: 1%;
    padding: 1%;
   }
   
   img,.titulo{
    display: inline;
    margin-left: 10px;
    vertical-align: middle;
    padding-bottom: 2vh;
   
  }
   .experiencia h1{
    color: #0e076b;
    font-size: 4vh;
    
  }
  .experiencia h2{
   
    font-size: 3vh;
   }
   .lista-experiencia{
margin: 3vh 0;
   }
   