<div class="experiencia">
<div class="experiencias" >
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
        <h2 class="titulo">Experiencia</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
            <li *ngFor="let experiencia of expe" class="list-group">
            <div class="col">
              <div class="card text-center">
                <h3 class="text-center">{{experiencia.cargo }}</h3><br>
                <img [src]="experiencia.imgE" class="card-img-top" alt="...">
                <div class="card-body">
                  <h4> {{experiencia.empresa}} </h4>
                  <h4 class="card-title"> {{experiencia.descripcion}}</h4>
                  <p>Inicio ({{experiencia.inicio | date: "dd-MM-yyyy"}} -Fin  {{experiencia.fin| date: "dd-MM-yyyy"}})</p>
                  <p class="card-text" *ngIf="experiencia.esTrabajoActual">Actualmente trabajo aquí</p>
                </div>
              </div>
            </div>
        </li>
        </div>
        </div>
    <div class="col-1"></div>
</div>
</div>
