  <!--modal skills-->
  
    <div style="height: 100%;overflow-y: auto;" class="modal fade" id="exampleModal-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     
        <div class="container modal-dialog">
          <h1>Habilidades</h1>
          <div *ngIf="mje === 'quitar'" class="container modal-content" >
            
            <p>Quitar Habilidades</p>
            <div *ngFor="let skill of Skills">
              <h4 > {{skill.habilidad}}</h4>
                  
                <div class="progress" class="cuadro">
                     
                  <div  class="progress-value progress-bar progress-bar-success progress-bar-striped progreso" 
                  
                  [style.width.%]="skill.porcentaje" 
                  [ngStyle]="{'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.7)'}" 
                  >{{skill.porcentaje}}% 
                </div>
                  <i class="fa-solid fa-xmark"
             
                  [ngStyle]="{'color':'red'}"
                  
                  ></i>
                </div>
                 <!-- <div class="progress progress-value">{{skill.porcentaje}}</div>-->
                  
          </div>

          </div>
           
        </div>
            <div *ngIf="mje === 'agregar'" class="container modal-content">
              <p >Agregar Habilidad</p>
              <label id="habilidad" for="number">Habilidad</label>
              <input type="text" name="habilidad" />
              <label id="porcentaje" for="number">Porcentaje</label>
              <input type="number" name="porcentaje" />
             
              
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          </div>
       
      
      

