<div class="modal fade" id="exampleModal-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 >Habilidades</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            
              <div class="mb-3">
                <div *ngIf="mje === 'quitar'">
                    <h5 class="text-center">Quitar Habilidad</h5>
                    <ul  *ngFor="let skill of hab">
                      <li type="button" class="experiencia" (click)="borrar(skill.id)">
                  
                       {{skill.habilidad}}
                       <br>
                       <div class="progress" class="cuadro">
                     
                        <div  class="progress-value progress-bar progress-bar-success progress-bar-striped progreso" 
                        
                        [style.width.%]="skill.porcentaje" 
                        [ngStyle]="{'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.7)'}" 
                        >{{skill.porcentaje}}% 
                      </div>
                        <i class="fa-solid fa-xmark"
                   
                        [ngStyle]="{'color':'red'}"
                        
                        ></i>
                      </div>
                     </li> 
                      
                      </ul>
                      <button type="button" class="btn btn-primary container-fluid">Guardar Cambios</button>
                     </div>
                   
              </div>
                
              <div *ngIf="mje === 'agregar'">
                <h5 class="form text-center">Agregar Habilidad</h5>
                <form (ngSubmit)="OnCreate()" novalidate #f="ngForm">
                  <div class="mb-3">
                    <label id="habilidad" for="number">habilidad</label>
                    <input type="text" class="form-control" id="habilidad" name="habilidad" aria-describedby="fortalezaHelp" [(ngModel)]="habilidad" required>
                    <div id="habilidad" class="form-text">Ingrese la habilidad que considera poseer</div>
                  </div>
                  <div class="mb-3">
                    <label for="porcentaje" class="form-label">Porcentaje</label>
                    <input type="number" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje">
                  </div>
                  <div class="mb-3">
                    <label for="icono" class="form-label">icono</label>
                    <input type="file" class="form-control" id="icono" name="icono" [(ngModel)]="icono" (change)="uploadFile($event,false)">
                    <div class="label" fxFlex="30" *ngIf="completed">Archivo cargado</div>
                  </div>
                <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
              </form>
                          
            </div>
            <div *ngIf="mje === 'editar'">
              <h5 class="form text-center mb-3">Editar Experiencia</h5>
              <div *ngFor="let habilidad of hab" style="list-style:none">
               <ul>
                  <li type="button" class="habilidad" (click)="cargarDetalle(habilidad.id)" >{{habilidad.habilidad}}
                   <i class="fa-solid fa-pen"
                   [ngStyle]="{'color':'green'}"
                   ></i>
                 </li>
               </ul>
             </div>
             <div *ngIf="habilidad">
             <h5 class="form text-center">Agregar Experiencia</h5>
             <form (ngSubmit)="OnUpdate(habilidad.id)" novalidate #f="ngForm">
               <div class="mb-3">
                 <label id="fortaleza" for="number">Habilidad</label>
                 <input type="text" class="form-control" id="cargo" name="cargo" aria-describedby="fortalezaHelp" [(ngModel)]="habilidad.habilidad" required>
                 <div id="fortalezaHelp" class="form-text">Ingrese el puesto que posee</div>
               </div>
               <div class="mb-3">
                 <label for="exampleInputPassword1" class="form-label">porcentaje</label>
                 <input type="text" class="form-control" id="exampleInputPassword1" id="empresa" name="empresa" aria-describedby="fortalezaHelp" [(ngModel)]="habilidad.porcentaje" required>
               </div>
               <div class="mb-3">
                <label for="icono" class="form-label">icono</label>
               <input type="file" class="form-control" id="icono" name="icono" aria-describedby="fortalezaHelp" [(ngModel)]="habilidad.icono" (change)="uploadFile($event,false)" required>
              </div>
             <button type="submit" class="btn btn-primary container-fluid">Guardar Cambios</button>
           </form>
         </div>
           </div>
          <div class="col-1"></div>
        </div>
      </div>
    
    </div>
  </div>


  <!--modal skills
  
    <div style="height: 100%;overflow-y: auto;" class="modal fade" id="exampleModal-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     
        <div class="container modal-dialog">
          <h1>Habilidades</h1>
          <div *ngIf="mje === 'quitar'" class="container modal-content" >
            
            <p>Quitar Habilidades</p>
            <div *ngFor="let skill of Skills">
              <h4 > {{skill.habilidad}}</h4>
                  
                <div class="progress" class="cuadro">
                     
                  <div  class="progress-value progress-bar progress-bar-success progress-bar-striped progreso" 
                  
                  [style.width.%]="skill.porcentaje" 
                  [ngStyle]="{'box-shadow': '-1px 10px 10px rgba(240, 173, 78,0.7)'}" 
                  >{{skill.porcentaje}}% 
                </div>
                  <i class="fa-solid fa-xmark"
             
                  [ngStyle]="{'color':'red'}"
                  
                  ></i>
                </div>
                  <div class="progress progress-value">{{skill.porcentaje}}</div>
                  
          </div>

          </div>
           
        </div>
            <div *ngIf="mje === 'agregar'" class="container modal-content">
              <p >Agregar Habilidad</p>
              <label id="habilidad" for="number">Habilidad</label>
              <input type="text" name="habilidad" />
              <label id="porcentaje" for="number">Porcentaje</label>
              <input type="number" name="porcentaje" />
             
              
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          </div>-->
       
      
      

