  <!--modal skills-->
  <div>
    <div class="modal fade" id="exampleModal-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      
        <div class="container modal-dialog">
          <h1 id="title">Formulario Habilidades</h1>
         
         <div>
          <app-skills></app-skills>
         </div>
            <div class="imagen modal-content">
              <p id="description">Agregar habilidad</p>
              <label id="number-label" for="number">Habilidad</label>
              <input type="text" name="habilidad" />
              <label id="number-label" for="number">Porcentaje</label>
              <input type="text" name="habilidad" />
             
              
            </div>
             
            <div class="form-group">
              <button type="submit" id="submit">
                Guardar
              </button>
            </div>
          
        </div>
       
      </div>
    </div>
